---
layout: default
---
<section class="who bg-wrap">
    <div class="container">
        <div class="col">
          <img height="64" src="/img/stslogo.svg" />
          <h1>Stop The Spies</h1>
          <h2>Take a stand against online surveillance</h2>
          <a href="#take-action" class="btn btn-primary btn-lg">Take Action Now</a>
          <div class="about">
            <p>
              The Australian government is on the verge of ordering your ISP to track and record your movements online. These plans are made on the pretext of fighting terrorism, but they really belong in a police state. Mandatory data retention policies treat every single citizen as a suspect worthy of constant intrusive surveillance.
            </p>
            <p>
              This website hopes to provide you with the information you need to be informed and tools to contact your representatives to let them know how you feel about this issue. With your help, we can stop the spies.
            </p>
          </div>
        </div>
        <div class="australia-map header inactive">
          <img src="{{ "/img/australia-outline.svg" | prepend: site.baseurl }}" />
        </div>
    </div>
</section>

<section class="sharbx">
  <div class="sharing-buttons">
      <span class="share abpt">
          <i class="fa fa-abpt"></i>
          <span class="text">
            Share <span class="light">on</span> Twitter
          </span>
          <span class="tot twitter-share-total number-spinner">0</span>
          <a target="_blank" href="https://twitter.com/intent/tweet?related=EFF,efa_oz&amp;text=Australia%27s%20new%20data%20retention%20bill%20would%20track%20everything%20you%20do%20online%E2%80%94even%20if%20you%27ve%20done%20nothing%20wrong.&amp;url={{ site.url }}"></a>
      </span>
      <span class="share abpf">
          <i class="fa fa-abpf"></i>
          <span class="text">
            Share <span class="light">on</span> Facebook
          </span>
          <span class="tot facebook-share-total number-spinner">0</span>
          <a target="_blank" href="https://www.facebook.com/sharer.php?u={{ site.url }}"></a>
      </span>
      <span class="share abpg">
          <i class="fa fa-abpg"></i>
          <span class="text">
            Share <span class="light">on</span> Google+
          </span>
          <span class="tot google-share-total number-spinner">0</span>
          <a target="_blank" href="https://plus.google.com/share?url={{ site.url }}"></a>
      </span>
  </div>
</section>

<section class="menu">
  <div class="container">
    <div class="col">
      <div class="menuimg"><img src="/img/stsmenu.svg" /></div>
      <ul>
        <li><a href="#video">What it's about</a></li>
        <li><a href="#take-action">My representatives</a></li>
        <li><a href="#progress">Progress</a></li>
        <li><a href="#supporters">#stopthespies</a></li>
        <li><a href="#further-reading">What else can I do?</a></li>
      </ul>
    </div>
  </div>
</section>


<a id="video"></a>
<section class="video">
  <div class="container">
    <div class="col">
      <div class="video-container">
        <!-- :NOTE: may have to hide the icon / overlay. Not sure of video provider / integration time -->
        <div class="fa fa-play"></div>
        <iframe border="0"></iframe>
      </div>
    </div>
  </div>
</section>

<!-- START INTRO BACKGROUND BLOCK -->
<div class="bg-wrap">

<section class="introduction people">
  <div class="container">
    <div class="col">
      <h2>Your privacy is under attack</h2>
      <h3>Your personal life, exposed</h3>
      <p>
        Under the proposed data retention laws, details about everything you do online or on your phone would be compulsorily collected and stored.
      </p>
      <p>
        Information about the apps you use, the emails you send, and even the places you go and who you communicate with—all of this data will be collected.
      </p>
    </div>
    <div class="col">
      <img src="{{ "/img/randoms/search-f.svg" | prepend: site.baseurl }}" />
    </div>
    <div class="eyemarks">
      <img class="r12 lg" src="{{ "/img/eyes/eye-large-down-l.svg" | prepend: site.baseurl }}" />
      <img class="r13 sm" src="{{ "/img/eyes/eye-small-down.svg" | prepend: site.baseurl }}" />
      <img class="r14 lg" src="{{ "/img/eyes/eye-large-down-l.svg" | prepend: site.baseurl }}" />
    </div>
  </div>
  <div class="eyecanvas" style="height: 500px;">
    <canvas width="1280" height="500" style="margin-left: -640px; margin-top: -250px;"></canvas>
  </div>
</section>
<section class="introduction countries">
  <div class="container">
    <div class="col rev-order-desktop">
      <h2>Why you should be worried</h2>
      <h3>It's only data, right?</h3>
      <p>
        By piecing together information about your online life from multiple sources, the government plans to use your ISP to build a secret online dossier on every Australian.
      </p>
      <p>
       Even if this information were only being collected to fight terrorism—and this is far from clear—there remains a frightening risk that it will be misused or fall into the wrong hands.
      </p>
    </div>
    <div class="col">
      <img src="{{ "/img/randoms/email-m.svg" | prepend: site.baseurl }}" />
    </div>
    <div class="eyemarks">
      <img class="r11 sm" src="{{ "/img/eyes/eye-small-down.svg" | prepend: site.baseurl }}" />
      <img class="r12 lg" src="{{ "/img/eyes/eye-large-down-l.svg" | prepend: site.baseurl }}" />
      <img class="r13 sm" src="{{ "/img/eyes/eye-small-down.svg" | prepend: site.baseurl }}" />
    </div>
  </div>
  <div class="eyecanvas" style="height: 500px;">
    <canvas width="1280" height="500" style="margin-left: -640px; margin-top: -250px;"></canvas>
  </div>
</section>
<section class="introduction rights">
  <div class="container">
    <div class="col">
      <h2>DATA RETENTION AROUND THE WORLD</h2>
      <h3>AUSTRALIA IS FLOUTING HUMAN RIGHTS</h3>
      <p>
        The Court of Justice of the European Union this year ruled a similar European data retention mandate as illegal, being "an interference with the fundamental rights of practically the entire European population."
      </p>
      <p>
        The United Nations High Commissioner for Human Rights also recently criticised mandatory data retention rules as being neither necessary nor proportionate.
      </p>
    </div>
    <div class="col">
      <img src="{{ "/img/randoms/geo-f.svg" | prepend: site.baseurl }}" />
    </div>
    <div class="eyemarks">
      <img class="r11 sm" src="{{ "/img/eyes/eye-small-down.svg" | prepend: site.baseurl }}" />
      <img class="r12 lg" src="{{ "/img/eyes/eye-large-down-l.svg" | prepend: site.baseurl }}" />
      <img class="r14 lg" src="{{ "/img/eyes/eye-large-down-l.svg" | prepend: site.baseurl }}" />
    </div>
  </div>
  <div class="eyecanvas" style="height: 500px;">
    <canvas width="1280" height="500" style="margin-left: -640px; margin-top: -250px;"></canvas>
  </div>
</section>


</div>

<section class="introduction cost">
  <div class="container">
    <div class="col">
      <h2>Who's paying for all this?</h2>
      <h3>The Australian public</h3>
      <p>
        Australia’s second-largest ISP has estimated the cost of the mandatory data retention proposal at an <a href="http://blog.iinet.net.au/wp-content/uploads/2014/07/Mandatory-Data-Retention-Infographic-v41.png" target="_blank">extra $130 per customer</a>, per year.
      </p>
    </div>
    <div class="col">
      <p class="bigdollars"><span>$$$</span></p>
    </div>
  </div>
</section>
<!-- END INTRO BACKGROUND BLOCK -->

<section class="cta bg-wrap">
  <div class="container">
    <div class="col">
      <h2>You can stop the spies</h2>
    </div>
    <div class="eyemarks">
      <img class="r11 sm" src="{{ "/img/eyes/eye-small-down.svg" | prepend: site.baseurl }}" />
      <img class="r12 sm" src="{{ "/img/eyes/eye-small-down.svg" | prepend: site.baseurl }}" />
      <img class="r13 lg" src="{{ "/img/eyes/eye-large-down-r.svg" | prepend: site.baseurl }}" />
      <img class="r14 sm" src="{{ "/img/eyes/eye-small-down.svg" | prepend: site.baseurl }}" />
      <img class="r15 lg" src="{{ "/img/eyes/eye-large-down-l.svg" | prepend: site.baseurl }}" />

      <img class="r21 sm" src="{{ "/img/eyes/eye-small-down.svg" | prepend: site.baseurl }}" />
      <!-- title shows here -->
      <img class="r22 lg" src="{{ "/img/eyes/eye-large-up-l.svg" | prepend: site.baseurl }}" />

      <img class="r31 sm" src="{{ "/img/eyes/eye-small-up.svg" | prepend: site.baseurl }}" />
      <img class="r32 lg" src="{{ "/img/eyes/eye-large-up-r.svg" | prepend: site.baseurl }}" />
      <img class="r33 sm" src="{{ "/img/eyes/eye-small-up.svg" | prepend: site.baseurl }}" />
      <img class="r34 sm" src="{{ "/img/eyes/eye-small-up.svg" | prepend: site.baseurl }}" />
      <img class="r35 lg" src="{{ "/img/eyes/eye-large-up-l.svg" | prepend: site.baseurl }}" />
    </div>
  </div>
  <div class="eyecanvas" style="height: 700px;">
   <canvas width="1280" height="700" style="margin-left: -640px; margin-top: -350px;"></canvas>
  </div>
</section>

<section class="how search">
  <a id="take-action"></a>
    <div class="container">
        <div class="col">
            <img src="/img/stslogo-o.svg" />
            <h2>Take Action</h2>
            <h3>Contact your Representative</h3>

            <p class="intro">
              By contacting your representative, you’ll show that you’re part of a movement that condemns compulsory data retention as a violation of international human rights law.
              <br />
              <br />
              <a href="#" style="font-size: 13px;" class="not-in-australia">Not in Australia?</a>
            </p>
            <div class="not-in-australia-container">
              <p>Mass surveillance is a global issue, find campaigns relevant to your country in the table below.</p>
              <table style="text-align: left; margin: auto; width: 300px;">
                <thead><th>Country</th><th>Campaign</th></thead>
                <tbody>
                  <tr><td>US</td><td><a href="https://standagainstspying.org">Stand Against Spying</a></td></tr>
                  <tr><td>UK</td><td><a href="https://www.dontspyonus.org.uk">Don't Spy On Us</a></td></tr>
                </tbody>
              </table>
            </div>
            <div class="postcode-steps">
                <div class="step step-2">
                  <div class="location-search">
                    <h4>Auto Lookup</h4>
                    <!-- TRIGGER --><a id="request-location"></a><!-- /TRIGGER -->

                    <div class="actions">
                      <i class="fa fa-globe"></i>
                      <p>Accept the browser request to share your location.</p>
                    </div>
                  </div>
                  <div class="location-error">
                    <p>
                      Oh no! We couldn't find you. Try your postcode instead.
                    </p>
                  </div>
                </div>
                <div class="step step-1">
                    <h4>Postcode Lookup</h4>

                    <form class="postcode-lookup">
                      <div class="input-group">
                        <input type="text" class="form-control" pattern="[0-9]{4}" required>
                        <button class="btn btn-info" type="submit">Lookup!</button>
                      </div>
                    </form>

                </div>
            </div>

        </div>

        <div class="eyemarks">
          <img class="r11 sm" src="{{ "/img/eyes/eye-small-down.svg" | prepend: site.baseurl }}" />
          <img class="r12 sm" src="{{ "/img/eyes/eye-small-down.svg" | prepend: site.baseurl }}" />
          <img class="r13 lg" src="{{ "/img/eyes/eye-large-down-r.svg" | prepend: site.baseurl }}" />
          <img class="r14 lg" src="{{ "/img/eyes/eye-large-down-r.svg" | prepend: site.baseurl }}" />

          <img class="r31 sm" src="{{ "/img/eyes/eye-small-down.svg" | prepend: site.baseurl }}" />
          <img class="r32 lg" src="{{ "/img/eyes/eye-large-down-l.svg" | prepend: site.baseurl }}" />
          <img class="r33 sm" src="{{ "/img/eyes/eye-small-down.svg" | prepend: site.baseurl }}" />
        </div>
    </div>
    <div class="eyecanvas" style="height: 500px;">
      <canvas width="1280" height="500" style="margin-left: -640px; margin-top: -250px;"></canvas>
    </div>
</section>
<section class="how results">
    <div class="container">
        <div class="col">

            <div class="legislators"></div>

            <div class="legislator-search-states">
              <div class="state waiting">
                <p>Searching for your representatives...</p>
              </div>
              <div class="state waiting-long">
                <p>Just a bit longer...</p>
              </div>
              <div class="state problem">
                <p>Oops! There was a problem loading your results, the servers might be very busy.</p>
                <a class="btn btn-info btn-lg" href="#take-action">Try again</a>
              </div>
            </div>

            <div class="retry-legislators">
              <h4>Not your representatives?</h4>
              <p class="postcode"><a class="btn btn-default" href="#take-action">Search again</a></p>
            </div>

            <div class="location-privacy">
                <p>We use your postcode to find legislators that represent you, it is not stored and, is transferred over a secure connection.<br />
                Legislator data is provided by <a href="http://www.openaustralia.org/">OpenAustralia.org</a></p>
            </div>

            <h3>Here are some talking points you can use</h3>

            <div class="points">
              <p class="point">I oppose the data retention bill in Australia. As my representative, I'm asking you to reject this proposal.</p>
              <p class="point">I value my digital privacy. When I use the Internet, I want secure, private communication. I don't want to be surveilled and spied on when I'm not suspected of a crime.</p>
              <p class="point">The proposal would push all the costs of data retention onto Internet Service Providers, who would pass the costs onto their customers. That means higher bills for Australians, as well as higher costs for new ISPs looking to enter the market. </p>
              <p class="point">Courts around the world are finding data retention mandates unconstitutional because they violate individual privacy rights. Let's do the right thing in Australia and stop this bill before it becomes a law.</p>
            </div>
        </div>
    </div>
</section>

<!-- START STATS BG WRAPPER -->
<div class="bg-wrap">
<section class="stats">
    <div class="container">
        <div class="col">
            <!-- TRIGGER --><a id="load-stats"></a><!-- /TRIGGER -->

            <a id="progress"></a>
            <h2>Campaign Progress</h2>

            <div class="metrics">

                <div class="metric animate views" data-stat="views">
                  <div class="border">
                    <div class="total"><div class="view-total number-spinner pad">0</div></div>
                    <div class="title">Legislators matched for you</div>
                  </div>
                </div>
                <div class="metric animate abpt" data-stat="tweets">
                  <div class="border">
                    <div class="total"><div class="twitter-total number-spinner pad">0</div></div>
                    <div class="title">Legislators tweeted directly</div>
                  </div>
                </div>
                <div class="metric animate emails" data-stat="emails">
                  <div class="border">
                    <div class="total"><div class="email-total number-spinner pad">0</div></div>
                    <div class="title">Legislator contact page visits</div>
                  </div>
                </div>
                <div class="metric animate abpf" data-stat="facebooks">
                  <div class="border">
                    <div class="total"><div class="facebook-total number-spinner pad">0</div></div>
                    <div class="title">Legislator Facebook page visits</div>
                  </div>
                </div>
                <!--
                <div class="metric animate calls">
                  <div class="border">
                    <div class="total"><div class="call-total number-spinner pad">0</div></div>
                    <div class="title">Calls</div>
                  </div>
                </div>
                -->
                <div class="ourselves animate">

                  <div class="visits" title="Visitors to this site">
                    <i class="fa fa-sts"></i>
                    <span class="total"><span class="visit-total number-spinner pad">0</span></span>
                  </div>

                  <div class="abpt" title="Shares on Twitter">
                    <i class="fa fa-abpt"></i>
                    <span class="total"><span class="twitter-share-total number-spinner pad">0</span></span>
                  </div>
                  <div class="abpf" title="Shares on Facebook">
                    <i class="fa fa-abpf"></i>
                    <span class="total"><span class="facebook-share-total number-spinner pad">0</span></span>
                  </div>
                  <div class="abpg" title="Shares on Google+">
                    <i class="fa fa-abpg"></i>
                    <span class="total"><span class="google-share-total number-spinner pad">0</span></span>
                  </div>
                </div>
            </div>
        </div>
        <div class="australia-map status inactive">
          <div class="map-blocker"></div>
          <img src="{{ "/img/australia-outline.svg" | prepend: site.baseurl }}" />
        </div>
    </div>
</section>
<section class="support">
  <a id="supporters"></a>
    <div class="container">
        <div class="col">
            <!-- TRIGGER --><a id="load-tweets"></a><!-- /TRIGGER -->
            <div class="twitter-support">
              <h2><strong class="tweets-support-total number-spinner">0</strong> tweets about <strong>#StoptheSpies</strong></h2>
            </div>

            <p class="intro">
              <i class="fa fa-abpt"></i>
              By tweeting &ldquo;<em>#StopTheSpies</em>&rdquo;, &ldquo;<em>#StopDataRetention</em>&rdquo; or sharing the URL of this site on Twitter, you will automatically be added to the list below.
            </p>

        </div>
    </div>
</section>

<div class="" id="tweet-board"></div>

<!-- END STATS BG WRAPPER -->
</div>

<section class="extra immediately-after-tweetboard">
  <a id="further-reading"></a>
    <div class="container">
        <div class="col">
            <img src="/img/stslogo-o.svg" />
            <h2>Take Action</h2>
            <h3>What else can I do?</h3>

            <div class="steps extra-steps">
                <div class="step step-1 bg-wrap">
                    <h4>Sign a Petition</h4>
                    <div class="actions">
                      <p>
                        Aside from contacting your representatives, you can also sign a petition that calls on the Federal Government to drop its proposed mandatory, indiscriminate data retention regime, and to treat ordinary, law-abiding Australians as citizens, not suspects.
                      </p>
                      <a href="https://www.getup.org.au/campaigns/privacy/mandatory-data-retention-efa--2/sign-the-petition" class="btn btn-primary">Sign a petition now</a>
                    </div>
                    <div class="eyemarks">
                      <img class="p11 sm" src="{{ "/img/eyes/eye-small-down.svg" | prepend: site.baseurl }}" />
                      <img class="p12 sm" src="{{ "/img/eyes/eye-small-down.svg" | prepend: site.baseurl }}" />
                      <img class="p13 lg" src="{{ "/img/eyes/eye-large-down-r.svg" | prepend: site.baseurl }}" />
                      <img class="p14 sm" src="{{ "/img/eyes/eye-small-down.svg" | prepend: site.baseurl }}" />
                      <img class="p15 lg" src="{{ "/img/eyes/eye-large-down-l.svg" | prepend: site.baseurl }}" />

                      <img class="p31 sm" src="{{ "/img/eyes/eye-small-up.svg" | prepend: site.baseurl }}" />
                      <img class="p32 lg" src="{{ "/img/eyes/eye-large-up-r.svg" | prepend: site.baseurl }}" />
                      <img class="p33 sm" src="{{ "/img/eyes/eye-small-up.svg" | prepend: site.baseurl }}" />
                      <img class="p34 sm" src="{{ "/img/eyes/eye-small-up.svg" | prepend: site.baseurl }}" />
                      <img class="p35 lg" src="{{ "/img/eyes/eye-large-up-l.svg" | prepend: site.baseurl }}" />
                    </div>
                </div>
                <div class="step step-2">
                    <h4>Spread the Word</h4>
                    <div class="sharing-buttons">
                        <!--<span class="tot twitter-share-total number-spinner">0</span>-->
                        <span class="share abpt">
                            <span class="text">
                              <i class="fa fa-abpt"></i>&nbsp; Share <span class="light">on</span> Twitter
                            </span>
                            <a target="_blank" href="https://twitter.com/intent/tweet?related=EFF,efa_oz&amp;text=Australia%27s%20new%20data%20retention%20bill%20would%20track%20everything%20you%20do%20online%E2%80%94even%20if%20you%27ve%20done%20nothing%20wrong.&amp;url={{ site.url }}"></a>
                        </span>
                        <!--<span class="tot facebook-share-total number-spinner">0</span>-->
                        <span class="share abpf">
                            <span class="text">
                              <i class="fa fa-abpf"></i>&nbsp; Share <span class="light">on</span> Facebook
                            </span>
                            <a target="_blank" href="https://www.facebook.com/sharer.php?u={{ site.url }}"></a>
                        </span>
                        <!--<span class="tot google-share-total number-spinner">0</span>-->
                        <span class="share abpg">
                            <span class="text">
                              <i class="fa fa-abpg"></i>&nbsp; Share <span class="light">on</span> Google+
                            </span>
                            <a target="_blank" href="https://plus.google.com/share?url={{ site.url }}"></a>
                        </span>
                    </div>
                    <!--
                    <h4>Keep in Touch</h4>
                    <div class="sharing-buttons keep-in-touch">
                      <span class="share abpt">
                        <span class="text"><i class="fa fa-abpt"></i> <span>@stopthespies</span></span>
                        <a href="https://twitter.com/stopthespies" target="_blank"></a>
                      </span>
                      <span class="share abpf">
                          <span class="text"><i class="fa fa-abpf"></i> <span>Stop-The-Spies</span></span>
                          <a href="https://www.facebook.com/pages/Stop-The-Spies/354999514650401" target="_blank"></a>
                      </span>
                    </div>
                    -->
                </div>
            </div>
            <h3>Learn more about the bill</h3>
            <ul class="points">
              <li><a target="_blank" href="https://www.eff.org/deeplinks/2014/08/australian-proposal-would-require-suspicionless-domestic-spying-isps">Australian Proposal Would Require Suspicionless Domestic Spying by ISPs</a></li>
              <li><a target="_blank" href="http://www.rogerclarke.com/DV/DRPS.html">Data Retention as Mass Surveillance An Australian Perspective</a></li>
              <li><a target="_blank" href="http://www.aph.gov.au/About_Parliament/Parliamentary_Departments/Parliamentary_Library/FlagPost/2014/August/Access_to_and_retention_of_internet_metadata">Access to and retention of internet 'metadata'</a></li>
              <li><a target="_blank" href="">Protecting your privacy: Our stand against ‘mandatory data retention’ - IInet</a></li>
            </ul>

        </div>

        <div class="eyemarks">
          <img class="r11 sm" src="{{ "/img/eyes/eye-small-down.svg" | prepend: site.baseurl }}" />
          <img class="r12 sm" src="{{ "/img/eyes/eye-small-down.svg" | prepend: site.baseurl }}" />
          <img class="r13 lg" src="{{ "/img/eyes/eye-large-down-r.svg" | prepend: site.baseurl }}" />
          <img class="r14 lg" src="{{ "/img/eyes/eye-large-down-r.svg" | prepend: site.baseurl }}" />

          <img class="r31 sm" src="{{ "/img/eyes/eye-small-down.svg" | prepend: site.baseurl }}" />
          <img class="r32 lg" src="{{ "/img/eyes/eye-large-down-l.svg" | prepend: site.baseurl }}" />
          <img class="r33 lg" src="{{ "/img/eyes/eye-large-down-l.svg" | prepend: site.baseurl }}" />
        </div>
    </div>
    <div class="eyecanvas" style="height: 500px;">
      <canvas width="1280" height="500" style="margin-left: -640px; margin-top: -250px;"></canvas>
    </div>
</section>

<!-- ################################################################ MODALS ########################################################### -->
<!-- ################################################################################################################################### -->

<!-- EMAIL MODAL -->
<div id="email-modal-container"></div>
<script type="text/template" id="email-modal-template">

      <div class="takeover-header">
        <div class="takeover-col">
          <span class="takeover-header-title"><i class="fa fa-phone"></i>EMAIL YOUR LEGISLATOR</span>
        </div>
      </div>
      <div class="takeover-col">

      <div class="takeover-inputs">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="input-block-level form-control" id="exampleInputEmail1" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Subject</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Don't implement the mass surveillance">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Message</label>
          <textarea type="password" class="form-control" id="exampleInputPassword1" placeholder="Message goes here">
I am writing to you as your constituent. In the aftermath of the Snowden revelations, I’ve become increasingly concerned about overreach by the National Security Agency and the secrecy that prevents us from getting honest answers about what our intelligence agencies are doing.  And I’m not alone:  a recent Defense Appropriation amendment that passed the House showed that there is broad, bipartisan support for NSA reform.

I urge you to take immediate action to rein in the NSA by supporting S. 2685, the new Senate version of the USA FREEDOM Act, and amendments that will strengthen the bill.  While this bill is not a comprehensive solution, it is a concrete first step towards NSA reform.

The House's version of the USA FREEDOM Act, H.R. 3361, has been gutted. The Senate version is the best way to take action right now. That’s why I’m urging you to support S. 2685, the USA FREEDOM Act of 2014.

Additionally, I urge you to support any amendments to the USA FREEDOM Act that would further strengthen the bill. The time is ripe to shut the backdoors to Americans’ private information, ensure privacy protections for innocent people inside and outside of the United States and stop the NSA’s efforts to undermine encryption standards.

Thank you for opposing unconstitutional surveillance and for supporting a free Internet.


          </textarea>
        </div>
      </div>
              <button type="button" class="btn takeover-submit">Send Email</button>
      </div>

</script>
<!-- END EMAIL MODAL -->


<!-- CALL MODAL -->
<div id="call-modal-container"></div>
<script type="text/template" id="call-modal-template">

  <div class="takeover-header">
        <div class="takeover-col">
          <span class="takeover-header-title"><i class="fa fa-phone"></i>CALL YOUR LEGISLATOR</span>
        </div>
      </div>
      <div class="takeover-col">

      <div class="takeover-inputs">

        <div class="form-group">
          <label for="exampleInputPassword1">Message</label>
          <p>
I am writing to you as your constituent. In the aftermath of the Snowden revelations, I’ve become increasingly concerned about overreach by the National Security Agency and the secrecy that prevents us from getting honest answers about what our intelligence agencies are doing.  And I’m not alone:  a recent Defense Appropriation amendment that passed the House showed that there is broad, bipartisan support for NSA reform.

I urge you to take immediate action to rein in the NSA by supporting S. 2685, the new Senate version of the USA FREEDOM Act, and amendments that will strengthen the bill.  While this bill is not a comprehensive solution, it is a concrete first step towards NSA reform.


          </p>
        </div>
      </div>
              <button type="button" class="btn takeover-submit">I have made the call!</button>
      </div>


</script>
<!-- END CALL MODAL -->

<!-- ############################################################ TEMPLATES ############################################################ -->
<!-- ################################################################################################################################### -->

<!-- LEGISLATOR TEMPLATE -->
<script type="text/template" id="legislator-template">
   <div class="legislator l<%= counter %>" data-legislator-id="<%= member_id %>" data-person-id="<%= person_id %>">
        <div class="pic">
            <img class="" src="<%= image %>" onerror="this.onerror=null;this.src='/img/profile.png';" />
        </div>
        <div class="details">
            <h3><%= full_name %></h3>
            <h4><%= party %> <%= typeString %> for <%= constituency %></h4>
            <!--
            <p class="status">This legislator has not put out an official statement. Lets encourage them to not vote in favor of the new proposals.</p>
            -->
            <ul class="contact">
                <!--<li class="view-action">
                  <div class="wrap">
    		            <i class="fa fa-eye"></i>
    		            <span class="number-spinner legislator-views">0</span>
                  </div>
              	</li>-->

                <!-- :TODO: hookup to email service after confirming legalities -->
                <% if(typeof contact_details !== 'undefined'  && contact_details.contact_page && contact_details.contact_page !== 'null') { %>
                <li class="email-action" title="Contact this <%= typeString %> directly">
                  <div class="wrap">
                    <a href="<%= contact_details.contact_page %>" target="_blank">
                      <i class="fa fa-envelope-o"></i>
                      <span class="number-spinner legislator-emails">0</span>
                    </a>
                  </div>
                </li>
                <% } %>

                <!-- :TODO: need script signed off by legal
                <li class="call-action" title="Call this <%= typeString %>">
                  <div class="wrap">
                    <i class="fa fa-phone"></i>
                    <span class="number-spinner legislator-calls">0</span>
                  </div>
                </li>
                -->

                <% if(typeof contact_details !== 'undefined'  && contact_details.twitter && contact_details.twitter !== 'null') { %>
                <li class="tweets-action" title="Tweet this <%= typeString %>">
                  <div class="wrap">
                    <a href="https://twitter.com/intent/tweet?text=Dear%20%40<%= contact_details.twitter %>: Don't sacrifice our rights. Reject the Australian data retention bill. https://stopthespies.org" target="_blank">
                    	<i class="fa fa-abpt"></i>
                    	<span class="number-spinner legislator-tweets">0</span>
                    </a>
                  </div>
                </li>
                <% }; %>

                <% if(typeof contact_details !== 'undefined' && contact_details.facebook && contact_details.facebook !== 'null') { %>
                <li class="facebooks-action" title="Post to this <%= typeString %>'s Facebook page">
                  <div class="wrap">
                    <a href="<%= contact_details.facebook %>" target="_blank">
                    	<i class="fa fa-abpf"></i>
                    	<span class="number-spinner legislator-facebooks">0</span>
                    </a>
                  </div>
                </li>
                <% }; %>
            </ul>
        </div>
    </div>
</script>
<!-- END LEGISLATOR -->

<!-- TWEET -->
<script type="text/template" id="tweet-template">
    <div class="tweet tooltip <%= sizeClass %>" title="">
      <a href="<%= retweet_link %>" target="_blank">
        <img class="" src="<%= avatar %>" title="@<%= handle %> - <%= tweet %> - <%= followers %>" />
        <p class="tweet-text"><%= tweet %></p>
        <p class="tweet-name"><%= name %></p>
        <p class="tweet-handle">@<%= handle %></p>
      </a>
    </div>
</script>

<!--
<div class="takeover overlay overlay-scale">
  <button type="button" class="overlay-close"><i class="fa fa-ui-close"></i></button>
  <div class="takeover-container"></div>
</div>
-->
