---
layout: default
---
<section class="who">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="logo"><i class="fa fa-eye-slash"></i></div>
                <h1>STOP THE SPIES</h1>
                <p>Who are the spies? The Anti-Terrorism laws which are currently being developed contain some questionable clauses about your digital privacy. This website hopes to provide you with the information you need to be informed and tools to contact your representatives to let them know how you feel about the issue.</p>
                <div class="video-placeholder">Video<br />Placeholder<br /><i class="fa fa-play-circle-o"></i></div>
            </div>
            <div class="col-md-4 stats-container">

            </div>
        </div>
</section>
<section class="stats">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">

            <div class="row">

                <h2 style="text-align:center;">How are we doing?</h2>
                <div class="metric col-md-2" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
                    <div class="title">Calls</div>
                    <div class="icon">
                        <i class="fa fa-phone"></i>

                    </div>
                    <div class="total">1000</div>
                </div>

                <div class="metric col-md-2" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
                    <div class="title">Emails</div>
                    <div class="icon">
                        <i class="fa fa-envelope-o"></i>

                    </div>
                    <div class="total">1000</div>
                </div>

                <div class="metric col-md-2" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
                    <div class="title">Views</div>
                    <div class="icon">
                        <i class="fa fa-eye"></i>

                    </div>
                    <div class="total">1000</div>
                </div>

                <div class="metric col-md-2" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
                    <div class="title">Tweets</div>
                    <div class="icon">
                        <i class="fa fa-twitter"></i>

                    </div>
                    <div class="total">1000</div>
                </div>
                <div class="metric col-md-2" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
                    <div class="title">Shares</div>
                    <div class="icon">
                        <i class="fa fa-facebook"></i>

                    </div>
                    <div class="total">1000</div>
                </div>
                <div class="metric col-md-2" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
                    <div class="title">Google+</div>
                    <div class="icon">
                        <i class="fa fa-google-plus"></i>

                    </div>
                    <div class="total">1000</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="how">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">


            <h2>How am I represented?</h2>

            <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porttitor ipsum vel mauris imperdiet, sed dapibus purus lacinia. Phasellus eu risus nibh. Duis nec libero orci.</p>
            <!--<div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>-->
            <!-- /input-group -->
            <div class="legislators"></div>
         
            <a href="">Not your representatives?</a>

        </div>
</section>
<section class="support">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">

            <h2>Who supports us?</h2>
            <p class="intro"><i class="fa fa-twitter" style="font-size: 30px;line-height: 40px;margin-right: 10px;"></i>By tweeting "I support #stopthespies" you will automatically be added to the list below. Currently, 145, 000 people have shown their support on Twitter.</p>
            <div class="bs-example bs-example-tabs">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#home" role="tab" data-toggle="tab">Politicians</a>
                    </li>
                    <li><a href="#profile" role="tab" data-toggle="tab">Celebrities</a>
                    </li>
                    <li><a href="#profile" role="tab" data-toggle="tab">People</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="home">
                        <img src="http://lorempixel.com/70/70/people"  data-toggle="popover" title="Popover title" data-content="The users tweet will go here. I support #stopthespies" />
                        <img src="http://lorempixel.com/70/70/people?1"  data-toggle="popover" title="Popover title" data-content="The users tweet will go here. I support #stopthespies" />
                        <img src="http://lorempixel.com/70/70/people?2"  data-toggle="popover" title="Popover title" data-content="The users tweet will go here. I support #stopthespies" />
                        <img src="http://lorempixel.com/70/70/people?3"  data-toggle="popover" title="Popover title" data-content="The users tweet will go here. I support #stopthespies" />
                        <img src="http://lorempixel.com/70/70/people?4"  data-toggle="popover" title="Popover title" data-content="The users tweet will go here. I support #stopthespies" />
                        <img src="http://lorempixel.com/70/70/people?5"  data-toggle="popover" title="Popover title" data-content="The users tweet will go here. I support #stopthespies" />
                        <img src="http://lorempixel.com/70/70/people?6"  data-toggle="popover" title="Popover title" data-content="The users tweet will go here. I support #stopthespies" />
                        <img src="http://lorempixel.com/70/70/people?7"  data-toggle="popover" title="Popover title" data-content="The users tweet will go here. I support #stopthespies" />
                        <img src="http://lorempixel.com/70/70/people?8"  data-toggle="popover" title="Popover title" data-content="The users tweet will go here. I support #stopthespies" />
                        <img src="http://lorempixel.com/70/70/people?9"  data-toggle="popover" title="Popover title" data-content="The users tweet will go here. I support #stopthespies" />
                        <img src="http://lorempixel.com/70/70/people?10"  data-toggle="popover" title="Popover title" data-content="The users tweet will go here. I support #stopthespies" />
                        <img src="http://lorempixel.com/70/70/people?11"  data-toggle="popover" title="Popover title" data-content="The users tweet will go here. I support #stopthespies" />
                    </div>
                    <div class="tab-pane fade" id="profile">
                        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
                    </div>
                    <div class="tab-pane fade" id="dropdown1">
                        <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                    </div>
                    <div class="tab-pane fade" id="dropdown2">
                        <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="extra">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">

            <h2>What else can I do?</h2>
            <p class="intro">Letting your representatives know that you don't support data retention laws and then making sure you tell your friends and family.</p>
            <div class="row">

                <div class="col-md-6">
                <div class="step step-1">
                    <h4>Take Action!</h4>
                    <div class="actions">
                    <p>This section will give people another things to do plus a reminder to contact legislators.</p>
                    <a href="" class="btn btn-primary">SIGN A PETITION</a>
                    </div>
                </div>

                </div>
                <div class="col-md-6">
                <div class=" step step-2">
                    <h4>Spread the word!</h4>
                    <div class="sharing-buttons">
<a class="share twitter" href="https://twitter.com/intent/tweet?hashtags=ResetTheNet&amp;related=fightfortheftr&amp;text=This+just+lays+it+out+so+simply.+The+%23NSA+has+a+weakness+--+it's+up+to+us+what+we+do+now.&amp;url=http%3A%2F%2Fwww.resetthenet.org%2F" target="_blank">
 <span class="text"><i class="fa fa-twitter"></i>&nbsp; Share <span class="light">on</span> Twitter</span>
</a>
<a class="share tumblr" href="http://www.tumblr.com/share?u=http%3A%2F%2Fwww.resetthenet.org%2F&amp;t=Don%27t+ask+for+your+privacy.+Take+it+back.+On+June+5th%3A+Reset+the+Net.&amp;v=3" target="_blank">
  <span class="text"><i class="fa fa-tumblr"></i>&nbsp; Share <span class="light">on</span> Tumblr</span>
</a>
<a class="share facebook desktop" href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.resetthenet.org%2F" target="_blank">
 <span class="text"><i class="fa fa-facebook"></i>&nbsp; Share <span class="light">on</span> Facebook</span>
</a>
<a class="share googleplus desktop" href="https://plus.google.com/share?url=http%3A%2F%2Fwww.resetthenet.org%2F" target="_blank">
  <span class="text"><i class="fa fa-google-plus"></i>&nbsp; Share <span class="light">on</span> Google+</span>
</a>
<div style="clear: both;"></div>

</div>
<div style="clear: both;"></div>
                </div>
<div style="clear: both;"></div>

                </div>
        </div>
    </div>
</section>

<section class="reading">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">

            <h2>Extra Reading</h2>
            <p class="intro">Lorem ipsum dolor sit amet, omnium virtute nusquam sit eu, et vide audire ancillae cum. Utroque periculis no per, sit aliquid disputationi ad, elitr ignota ea mei. Prodesset omittantur an qui. Suas etiam platonem quo no.</p>
            <ul>
                <li><a href="#">Protecting your privacy: Our stand against ‘mandatory data retention’</a> - IInet</li>
                <li><a href="#">Australian Proposal Would Require Suspicionless Domestic Spying by ISPs</a> - EFF</li>
    </ul>
    </div>
</section>
<br />
<br />
<br />
<br />
<!-- MODALS -->

<!-- EMAIL MODAL -->

<div id="email-modal-container"></div>
<script type="text/template" id="email-modal-template">
    <div class="modal fade" id="email-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal <%=name %></h4>
          </div>
          <div class="modal-body">
           <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Message</label>
        <textarea type="password" class="form-control" id="exampleInputPassword1" placeholder="Message goes here"></textarea>    
      </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Send Email</button>
          </div>
        </div>
      </div>
    </div>
</script>
<!-- END EMAIL MODAL -->


<!-- CALL MODAL -->
<div id="call-modal-container"></div>
<script type="text/template" id="call-modal-template">

<div class="modal fade" id="call-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-phone" style="margin-right: 10px;"></i>Call Tool</h4>
      </div>
      <div class="modal-body">

            <aside>
                <ol>
                    <h3>What to say</h3>
                    <li>
                        <p>I am one of your constituents, and I’m calling to ask you to take action against mass surveillance by the NSA.</p>
                        <p>I’d like Senator/Representative ____ to support and co-sponsor the <strong>USA Freedom Act</strong>. I would also like you to oppose S. 1631, the so-called <strong>FISA Improvements Act</strong>. Moreover, I’d like you to work to prevent the NSA from <strong>undermining encryption standards</strong> and to <strong>protect the privacy rights of non-Americans</strong>.</p>
                    </li>
                </ol>           
                
            </aside>

        
            <a class="cta-button" href="thank-you.html?called=true">Click here once you're done  &rarr;</a>
            

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Send Email</button>
      </div>
    </div>
  </div>
</div>
</script>
<!-- END CALL MODAL -->

<!-- TEMPLATES -->

<script type="text/template" id="legislator-template">
   <div class="legislator row" data-legislator-id="<%= image %>">
        <div class="col-md-2">
            <img class="" src="/img/legislators/<%= image %>.jpg" />
            </div>
            <div class="col-md-10">
                <h4>Senator <%= name %></h4>
                <p  class="status">This legislator has not put out an official statement. Lets encourage them to not vote in favor of the new proposals.</p>
                <ul class="contact">
                    <li class="call-action" data-toggle="popover" title="Click to start" data-content="We will provide you with some talking points and the legislators phone number"><i class="fa fa-phone"></i></li>
                    <li class="email-action" data-toggle="popover" title="Click to start" data-content="We will provide you with an email template with what to say"><i class="fa fa-envelope-o"></i></li>
                    <li data-toggle="popover" title="Click to start" data-content="We will automatically tag the legislator's twitter account for you!"><i class="fa fa-twitter"></i></li>
                    <li data-toggle="popover" title="Click to start" data-content="Post directly to this legislators facebook page"><i class="fa fa-facebook"></i></li>
                </ul>
            </div>

        </div>
    </div>
</script>

<!-- END TEMPLATES -->