
<!--[if gt IE 9]><!-->
    <script src="{{ "/js/jquery/2.1.1.min.js" | prepend: site.baseurl }}"></script>
<!--<![endif]-->
<!--[if lte IE 9]>
    <script src="{{ "/js/jquery/1.11.1.min.js" | prepend: site.baseurl }}"></script>
<![endif]-->
{% javascript main %}
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://analytics.taskforce.is/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "5"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->