<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:video" content="https://www.youtube.com/watch?v=U4mIDeRCv9I">
    <meta property="og:video:secure_url" content="https://www.youtube.com/watch?v=U4mIDeRCv9I">
    <!-- Social metadata -->
	<meta itemprop="name" content="{{ site.title }}">
	<meta itemprop="description" content="{{ site.description }}">
	<meta itemprop="image" content="{{ site.share_image_gplus | prepend: site.baseurl | prepend: site.url }}">
	<meta itemprop="email" content="{{ site.email }}">
	<meta itemprop="url" content="{{ site.url }}">

	<meta name="twitter:card" content="{{ site.share_twitter_card }}">
	<meta name="twitter:site" content="@{{ site.twitter_username }}">
	<meta name="twitter:domain" content="{{ site.domain }}">
	<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	<meta name="twitter:description" content="{{ site.description }}">
	<meta name="twitter:creator" content="@{{ site.twitter_username }}">
	<meta name="twitter:image:src" content="{{ site.share_image_twitter | prepend: site.baseurl | prepend: site.url }}">

	{% if site.facebook_app_id %}<meta property="og:app_id" content="{{ site.facebook_app_id }}" />{% endif %}
	{% if page.title %}<meta property="og:site_name" content="{{ site.title }}" />{% endif %}
	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
	<meta property="og:type" content="{% if page.title %}article{% else %}website{% endif %}" />
	<meta property="og:image" content="{{ site.share_image_facebook | prepend: site.baseurl | prepend: site.url }}" />
	<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
	<meta property="og:description" content="{{ site.description }}" />
	{% if site.facebook_admin_userid %}<meta property="fb:admins" content="{{ facebook_admin_userid }}" />{% endif %}

	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

	<!--[if lte IE 8]>
	    <script src="{{ "/js/respond.min.js" | prepend: site.baseurl }}"></script>
	    <script src="{{ "/js/html5shiv.js" | prepend: site.baseurl }}"></script>
	<![endif]-->

</head>
