

<style>
.metric {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    width: 100px;
}
.metric:hover {
	background: #ebebeb;
	cursor: pointer;
}
.metric .title {
    font-weight: bold;
}
.metric .icon {
    font-size: 40px;
}
</style>
<h3 style="text-align:center;margin-bottom: 20px;">How are we doing?</h3>
<div class="metric" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
    <div class="title">Calls</div>
    <div class="icon">
        <span class="glyphicon glyphicon-earphone"></span>
    </div>
    <div class="total">1000</div>
</div>

<div class="metric" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
    <div class="title">Emails</div>
    <div class="icon">
        <span class="glyphicon glyphicon-envelope"></span>
    </div>
    <div class="total">1000</div>
</div>

<div class="metric" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">
    <div class="title">Views</div>
    <div class="icon">
        <span class="glyphicon glyphicon-eye-open"></span>
    </div>
    <div class="total">1000</div>
</div>

