html {
  font-size: 100%;
  *font-size: 16px;
  line-height: $BASE_LINE_HEIGHT;
}

body {
  font-size: ($BASE_FONT_SIZE / 16) * 100%;
  font-family: 'Roboto', sans-serif;
  background: $color-body-bg;
  color: $color-text;
  line-height: 1.36;
}

a {
  text-decoration: none;
  border-bottom: $color-text;
  &:hover {
    border-bottom: $primaryOrange;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  color: $color-header-text;
  margin-top: 0;
  font-weight: bold;
}

h1, h2, h5 {
  text-transform: uppercase;
}

h1 {
  @include emfz(36px);
  font-family: 'League Gothic', sans-serif;
  font-weight: normal;
}

h2 {
  @include emfz(24px);
}

h3 {
  @include emfz(20px);
}

h4 {
  @include emfz(18px);
}

section {
  padding: emsize(80px) 0;
}

.intro {    // section introductory lines
  margin-bottom: emsize(30px);
  text-align: justify;
}

pre, code, tt {
  font-family: 'Droid Sans Mono', monospace;
}




//-----------------------------------------------------------------
//                \/ these may not be global \/



.actions {  // two-column action cards
  padding: emsize(20px) emsize(20px) 0 emsize(20px);
  text-align: center;
}
.actions p {
  text-align: justify;
}



.step h4 {  // two-column action steps
  text-transform: uppercase;
  color: $brand4;
  text-align: center;
  font-weight: 700;
  padding: 0;
  margin: 0;
  padding-top: emsize(20px);

  background: $color-member-search-header;  // this is for legislator search globe drop-in from behind heading
  position: relative;
  z-index: 1;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.step {
  background: $color-member-search-body;
  min-height: emsize(200px);
  border-radius: 8px;
  overflow: hidden;
}
