$brand1:        #E7E8D1 !default;
$brand2:        #D3CEAA !default;
$brand3:        #FBF7E4 !default;
$brand4:        #424242 !default;
$brand5:        #50e3c2 !default;
/*#50e3c2*/

html {
}
.logo i{
  font-size: 90px;
  margin: 0;
  padding: 0;
}
h1 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

}
.header {
  background: $brand3;
  color: $brand4;
}
.header h3 {
  line-height: 56px;
  margin: 0;
  padding: 0;
}
.nav ul {
  height: 56px;
  margin: 0;
  padding: 0;
}
.nav li {
  line-height: 56px;
  margin: 0;
  padding: 0;
  float: left;
}
.nav li a {
  padding: 0 20px;
}
.header a {
  color: $brand4;
}
body {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
  background: lighten($brand3, 0%);
  color: darken($brand4, 10%);
}
body a {
  color: darken($brand4, 10%);
}
section {
padding: 40px 0;
}
section h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 25px;
  text-align: center;
  letter-spacing: -1px;
}
.who {
	background: $brand5;
	color: $brand1;
	text-align: center;
}
.who p {
	text-align: justify;
}

.video-container {
  max-width: 560px;
  background: $brand4;
  margin: auto;
  margin-top: 20px;
  border-radius: 8px;
  text-transform: uppercase;
  valign: center;
  font-size: 24px;
  font-weight: 700;
  padding-top: 50px;
  margin-top: 30px;
  i {
    font-size: 90px;
  }

  position: relative;
  padding-bottom: 36.25%;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

  .video-container:hover {
    background: darken($brand4, 10%);
    cursor: pointer;
  }
.how {
	color: $brand3;
  background: $brand5;

}
.how a {
  color: darken($brand2, 20%);
}
.how .intro {
  text-align: justify;
  margin-bottom: 20px;
}
.how img {
  border: 2px solid darken($brand5, 2%);
  border-radius: 8px;
  width: 100%;
}
.how h4 {
  font-size: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.how .contact {
  margin: 0;
  padding: 0;
  list-style: none;
}
.how .contact li {
  float: left;
  margin-right: 10px;
  font-size: 30px;
  padding: 0 5px;

  cursor: pointer;
}
.how .contact li:hover {
  background: $brand2;
  color: $brand4;
  border-radius: 8px;

}
.how .status {
  padding: 0;
  margin: 0;
  font-size: 16px;
  text-align: justify;
}
.footer a {
  color: $brand1;
}
.stats {

}
.metric {
    text-align: center;
    margin-bottom: 20px;
    border-radius: 8px;
}
.metric:hover {
  background: darken($brand3, 1%);
  cursor: pointer;
}
.metric .title {
    font-weight: bold;
}
.metric .icon {
    font-size: 40px;
}


.legislator {
  margin-bottom: 20px;
}
 .intro {
  margin-bottom: 30px;
  text-align: justify;
}

.supporters {
  background: #8FBE01;
  color: $brand1;
}
.nav-tabs {
  border-bottom: none;
}
.nav-tabs li a {
  font-size: 22px;
  padding: 10px 25px;
  text-transform: uppercase;
}
.nav-tabs li.active:hover a {

  background: $brand4;
  border-color: $brand4;
  color: $brand1;
}
.nav-tabs li.active a {
  background: $brand4;
  border-color: $brand4;
  color: $brand1;
}

.nav-tabs li:hover a {
  background: lighten($brand2, 5%);
  border-color: lighten($brand2, 5%);
  color: $brand4;
}
.tab-content {
  padding: 20px 0;
  background: $brand3;
  padding: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.tab-content img {
  border-radius: 8px;
  margin-right: 10px;
  cursor: pointer;
  margin-top: 20px;
  border: 1px solid darken($brand3, 30%);
  opacity: 0.7;
}
.tab-content img:hover {
  opacity: 1;
}

.footer {
  line-height: 15px;
  padding: 20px 0;
  font-size: 14px;
  background: $brand4;
  color: $brand1;
}

.extra {
  background: $brand5;
  color: $brand1;
}
.extra .intro {
  margin-bottom: 20px;
  text-align: justify;
}
.step h4 {
  text-transform: uppercase;
  color: $brand4;
  text-align: center;
  font-weight: 700;
  padding: 0;
  margin: 0;
  padding-top: 20px;

  background: $brand2;  // this is for legislator search globe drop-in from behind heading
  position: relative;
  z-index: 1;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.step {
  background: $brand2;
  min-height: 150px;
  border-radius: 8px;
  overflow: hidden;
}

.reading a {
  color: darken($brand2, 20%);
}
.actions {
  padding: 20px;
  color: $brand4;
  text-align: center;
}
.actions p {
  text-align: justify;
}
.sharing-buttons {
    padding: 20px 0;

}
.sharing-buttons .share {
    display: block;
    width:185px;
    left:-10px;
    height:40px;
    background: #000;
    text-align: center;
    text-decoration: none;
    border-radius: 3px 3px 3px 3px;
    padding:8px 12px;
    color:#fff;
    font-weight: bold;
    margin: auto;
    margin-bottom:10px;

    font-size: 15px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.sharing-buttons .share:hover {
    left:0px;
}

.sharing-buttons span.light {font-weight: normal;}

.sharing-buttons .share.twitter {
    background: #59adeb;
    &:hover {
      background: darken(#59adeb, 10%);
    }
}

.sharing-buttons .share.tumblr {
    background: rgb(50,80,110);

    &:hover {
      background: darken(rgb(50,80,110), 10%);
    }
}

.sharing-buttons .share.facebook {
    background: #3c5a96;

    &:hover {
      background: darken(#3c5a96, 10%);
    }
}

    .sharing-buttons .share.facebook img {margin-top:-3px;}

.sharing-buttons .share.googleplus {
    background: #db585a;

    &:hover {
      background: darken(#db585a, 10%);
    }
}
.btn-primary {
  border-color: lighten($brand5, 5%) !important;
}


.postcode-steps {
  overflow: hidden;

  .actions .fa {
    position: relative;
    font-size: 2.5em;
    color: $brand5;
  }
}

.legislators {
  height: 0;
  overflow: hidden;
  .legislator {
    @include transform-origin(top center);
  }
}

.tweet {
  width: 70px;
  height: 70px;
}
