html {
  font-size: 100%;
  *font-size: 16px;
  line-height: $BASE_LINE_HEIGHT;
}

body {
  font-size: ($BASE_FONT_SIZE / 16) * 100%;
  font-family: 'Roboto', sans-serif;
  background: $color-body-bg;
  color: $color-text;
  line-height: 1.36;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  color: $color-header-text;
  margin-top: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

h1, h2, h5 {
  text-transform: uppercase;
}

h1 {
  @include emfz(36px);
  font-family: 'League Gothic', sans-serif;
  font-weight: normal;
}

h2 {
  @include emfz(24px);
}

h3 {
  @include emfz(20px);
}

h4 {
  @include emfz(18px);
}

.intro {    // section introductory lines
  margin-bottom: emsize(30px);
}

pre, code, tt {
  font-family: 'Droid Sans Mono', monospace;
}

.btn {
  &.btn-primary {
    color: $btn-primary-color;
    background-color: $btn-primary-bg;
    border: 1px solid $btn-primary-border;
  }
}

a {
  color: $linkColor;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  outline: 0;
}

ul.points {
  padding-left: 1.5em;
  li {
    margin-bottom: 1em;
  }
}

//-----------------------------------------------------------------
//  Spying eyes (position indicators for animation & image fallbacks

body {
  overflow-x: hidden;
}

.eyecanvas, .eyemarks {
  position: absolute;
  z-index: 0;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

.eyemarks {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  img {
    position: absolute;
    opacity: 1;

    -webkit-transition: opacity 0.6s;
            transition: opacity 0.6s;
    &:hover {
      opacity: 0.66;

      -webkit-transition: opacity 0.1s;
              transition: opacity 0.1s;
    }

    // scale in EMs so we can adjust with font-size
    &.sm { width: emsize(50px); }
    &.lg { width: emsize(76px); }
  }
}

.cta, .introduction, .extra {
  // :IMPORTANT: we can't do this for all, because of things (like the map) positioned outside of the page gutter
  overflow:hidden;
  .container {
    position: relative;
  }
  .col {
    position: relative;
    z-index: 1;
  }
}

//-----------------------------------------------------------------
//                \/ these may not be global \/



.actions {  // two-column action cards
  padding: emsize(20px) emsize(20px) 0 emsize(20px);
  text-align: center;
}
.actions p {
  text-align: justify;
}



.step h4 {  // two-column action steps
  text-transform: uppercase;
  color: $brand4;
  text-align: center;
  font-weight: 700;
  padding: 0;
  margin: 0;
  padding-top: emsize(20px);

  background: $color-member-search-header;  // this is for legislator search globe drop-in from behind heading
  position: relative;
  z-index: 1;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.step {
  background: $color-member-search-body;
  min-height: emsize(210px);
  border-radius: 8px;
  overflow: hidden;
}


// :IMPORTANT: must go after step styles
.bg-wrap {
  background: $primaryBg;
  background-image: linear-gradient(-127deg, $primaryBgLeft 3%, $primaryBgRight 88%);
  width: 100%;
  overflow: hidden;
}



// ie8 prompt
#browser-fail {
  z-index: 100000;    // if I see anyone else using big zindexes, why i outta...
  position: fixed;
  font-size: emsize(12px);
  line-height: 1.5;
  border-bottom: $statGreenL;
  width: 100%;
  top: 0; left: 0;
  padding: 0.6em;
  background: $statRed;
  color: white;
  font-weight: bold;

  a {
    color: white;
    &:hover {
      color: $statGreenD;
    }
    text-decoration: underline;
  }
}
