/**
 * Number spinner structure
 */

.number-spinner,
.number-spinner .tiles,
.number-spinner .tile {
	display: inline-block;
}

.number-spinner .tiles,
.number-spinner .tile,
.number-spinner .digit {
  line-height: 1;
	height: 1em;
}

.number-spinner .tiles {
	white-space: nowrap;
}

.number-spinner .tile {
	overflow: hidden;
}
.number-spinner .tile:last-child {
	margin-right: 0;
}

.number-spinner .digits {
	position: relative;
	top: 0;
}

.number-spinner .digit {
	display: block;
}

/**
 * Number spinner theme
 */

.number-spinner {
  letter-spacing: 0.1em;
  height: 1.2em;
  padding: 0.1em;
  // border-radius: 0.15em;
  line-height: 1;
  // font-weight: bold;
  // background: #000;
  // color: white;
  // text-shadow: 0 1px 2px #821000;
  text-align: center;

  .tiles {
    padding: 0;
  }
  .tile {
    // background: #010101; /* Old browsers */
    // background: -moz-linear-gradient(top, #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%); /* FF3.6+ */
    // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#959595), color-stop(46%,#0d0d0d), color-stop(50%,#010101), color-stop(53%,#0a0a0a), color-stop(76%,#4e4e4e), color-stop(87%,#383838), color-stop(100%,#1b1b1b)); Chrome,Safari4+
    // background: -webkit-linear-gradient(top, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Chrome10+,Safari5.1+ */
    // background: -ms-linear-gradient(top, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* IE10+ */
    // background: linear-gradient(to bottom, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
  }
}
