.extra {
  .step-1 {
    color: $textLight;
  }
  .share {
    margin: 10px 20px;
  }
  .actions {
    padding-top: 0;
    z-index: 1;
    position: relative;
  }

  h4 {
    background: transparent;
    color: inherit;
  }

  // these ones are positioned against columns and so their left offsets are percentages
  .eyemarks {
    top: emsize(-100px);
    opacity: 1;
    .r11 { left: 11%; top: emsize(86px); }
    .r12 { left: 39%; top: emsize(43px); }
    .r13 { left: 23%; top: emsize(150px); }
    .r14 { left: 28%; top: emsize(90px); }
    .r31 { left: 82%; top: emsize(130px); }
    .r32 { left: 61%; top: emsize(57px); }
    .r33 { left: 75%; top: emsize(55px); }

    img {
      &.sm { width: emsize(35px); }
      &.lg { width: emsize(56px); }
    }
  }

  .step .eyemarks {
    top: 0;
    opacity: 0.3;

    img {
      &.sm { width: 4%; }
      &.lg { width: 8%; }
    }

    .p11 { left: 17%; top: emsize(31px); }
    .p12 { left: 29%; top: emsize(52px); }
    .p13 { left: 19%; top: emsize(60px); }
    .p14 { left: 68%; top: emsize(62px); }
    .p15 { left: 88%; top: 5%; }
    .p31 { left: 6%; top: 55%; }
    .p32 { left: 83%; top: 13%; }
    .p33 { left: 53%; bottom: emsize(55px); }
    .p34 { left: 73%; bottom: emsize(23px); }
    .p35 { left: 88%; top: 35%; }
  }
}
