.who {
  h1, h2 {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  h1 {
    color: $primaryOrange;
    @include emfz(100px);
    line-height: 1;
    margin: emsize(20px, 100px) 0;
  }
  h2 {
    font-weight: bold;
    margin-bottom: emsize(20px, 24px);
    letter-spacing: emsize(-1px, 24px);
  }
}



.who {
  position: relative;
  .col {
    position: relative;
    z-index: 1;
  }
  .leaflet-map-pane {
    opacity: 0.1;   // keep separate from toplevel anim-driven opacity
  }

  @media (min-width: $set-header-map-adjacent) {
    .col {
      @include column($one-half);
    }
    .australia-map {
      position: absolute;
      width: 60%;
      height: 100%;
      left: 40%;
      top: 0;
    }
    .leaflet-map-pane {
      opacity: 0.7;
    }

    .about {
      margin-top: -3em;
    }
    .btn {
      position: relative;
      left: 150%;
    }
  }
}
