.container {
	max-width: $content-max-width;
	margin: 0 auto;
	@include clearfix();
  padding: 0 10px;
}

.who, .menu, .introduction, .stats, .how, .support, .extra, .reading {
	.col {
		@include column($one);
	}
}

// MAP FITS TO SIDE ON DESKTOP
.who {
  position: relative;
  .col {
    position: relative;
    z-index: 1;
  }
  .leaflet-map-pane {
    opacity: 0.1;   // keep separate from toplevel anim-driven opacity
  }

  @media (min-width: $set-header-map-adjacent) {
    .col {
      @include column($one-half);
    }
    .australia-map {
      position: absolute;
      width: 60%;
      height: 100%;
      left: 40%;
      top: 0;
    }
    .leaflet-map-pane {
      opacity: 0.7;
    }

    .about {
      margin-top: -3em;
    }
    .btn {
      position: relative;
      left: 150%;
    }
  }
}

// INFORMATION INTRO
// 1 > 2 columns

.introduction {
  @media (min-width: $set-info-margin) {
    .col {
      @include column($one-twelfth * 10);
      @include push($one-twelfth);
    }
  }
  @media (min-width: $set-info-2-cols) {
    .col {
      @include column($one-half);
    }
  }
}

@media (min-width: $set-larger-content-margin) {
	// other content is 8/12 with 2/12 gutters
	.extra, .reading {
		.col {
			@include column($one-twelfth * 8);
			@include push($one-sixth);
		}
	}
  .how.results {
    .col {
      @include column($one);
    }
  }
}

// STEPS BOXES
// 1 > 2 columns

.step {
  padding-bottom: 1em;
  max-width: 350px;
  margin: 0 auto 1em auto;

  @media (min-width: $set-steps-2-cols) {
    @include column($one-half);
    margin-bottom: 1em;
    max-width: none;
  }
}

// STATS
// 2 > 3 > 6 cols

.stats, .support, .how {
  .col {
    z-index: 1;
    position: relative;
  }
}

.stats {
  padding-bottom: 0;
  position: relative;

  .australia-map {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 150%; // this block is unstyled/short right now
    z-index: 0;
  }

  @media (min-width: $set-stats-map-adjacent) {
    .col {
      @include column($one-half);
    }
    .australia-map {
      width: 80%;
    }
  }
}

// LEGISLATOR SEARCH
// 2 columns for location lookup boxes

.how, .extra {
	.step {
		h4 {
			padding: 0.5em 1em;
		}
	}

  @media (min-width: $set-steps-2-cols) {
    .step-2 { // swap rows on desktop
      float: right;
    }
    .step-1 {
      float: left;
    }
  }
}

.how {
	.postcode-steps, .location-privacy, .postcode-lookup {
		@include row();
	}
	.location-privacy {
		p {
			@include column($one);
		}
	}
	.input-group {
      @include column($one-twelfth * 10);
      @include push($one-twelfth);

		.form-control {
      display: block;
			float: left;
			width: 60%;
      height: auto;
    }
		.input-group-btn {
      display: block;
			width: 40%;
		}

    @media (min-width: $set-search-pad-postcode) {
      @include column($one-twelfth * 8);
      @include push($one-twelfth * 2);
    }
	}

  @media (min-width: $set-larger-content-margin) {
    .col {
      @include column($one-twelfth * 10);
      @include push($one-twelfth);
      margin-bottom: emsize(30px);
    }
  }

  @media (min-width: $set-steps-2-cols) {
    .location-error {
      p {
        margin-top: 6.5em;
      }
    }
  }

  @media (max-width: ($set-steps-2-cols - 1)) {
    .no-location .step-2 {
      background: transparent;
      min-height: 0;
    }
  }
}

// LEGISLATOR RESULTS
// 3 columns
.legislators {
  @include row();
}
.legislator {
  max-width: 350px;
  margin: 0 auto 1em auto;

  @media (min-width: $set-legislator-results-2col) {
    max-width: none;
    @include column($one-half);
    &.l3 {
      @include push($one-quarter);
    }
  }

  @media (min-width: $set-legislator-results-3col) {
    &, &.l3 {
    	@include column($one-third);
    }
  }
}

// MAP

section.map {
	padding: 0;
}

// FOOTER

.footer {
	text-align: right;
	.col {
		@include column($one);
	}
}

.takeover-col {
  @include column($one-third);
  @include push($one-third);
}


// VERTICAL SPACING SCALE FOR SECTIONS

section {
  padding: 5em 0;
  @media (min-height: 801px) {
    padding: emsize(80px) 0;
  }

  &.who {
    padding: emsize(60px) 0;
    overflow:hidden;
    @media (min-height: 801px) {
      padding: emsize(160px) 0;
    }
  }
}
