// Overriding layouts file
// Used for bits of responsive layout CSS shared between components
// We do this here so the order of declarations between those components doesn't affect things

// constrain site

.container {
	max-width: $content-max-width;
	margin: 0 auto;
	@include clearfix();
  padding: 0 10px;
}

// vertical spacing scale for sections

section {
  padding: emsize(60px) 0;
  &.who {
    padding: emsize(120px) 0;
    overflow:hidden;
  }

  @media (min-height: $vertical-section-spacing-step-1) {
    padding: emsize(70px) 0;
    &.who {
      padding: emsize(140px) 0;
    }
  }
  @media (min-height: $vertical-section-spacing-step-2) {
    padding: emsize(80px) 0;
    &.who {
      padding: emsize(160px) 0;
    }
  }
  @media (min-height: $vertical-section-spacing-step-3) {
    padding: emsize(90px) 0;
  }
}

// single column areas

.who, .menu, .stats, .how, .support, .extra, .reading {
	.col {
		@include column($one);
	}
}

// areas which receive extra padding when wider

@media (min-width: $set-larger-content-margin) {
	// other content is 8/12 with 2/12 gutters
	.extra, .reading {
		.col {
			@include column($one-twelfth * 8);
			@include push($one-sixth);
		}
	}
  .how.results {
    .col {
      @include column($one);
    }
  }
}

// steps boxes
// 1 > 2 columns

.step {
  padding-bottom: 1em;
  max-width: 350px;
  margin: 0 auto 1em auto;

  @media (min-width: $set-steps-2-cols) {
    @include column($one-half);
    margin-bottom: 1em;
    max-width: none;
  }

  h4 {
    padding: 0.5em 1em;
  }
}

@media (min-width: $set-steps-2-cols) {
  .step-2 { // swap rows on desktop
    float: right;
  }
  .step-1 {
    float: left;
  }
}

// set things with map divs under them

.stats, .support, .how {
  .col {
    z-index: 1;
    position: relative;
  }
}

// FOOTER

.footer {
	text-align: right;
	.col {
		@include column($one);
	}
}

.takeover-col {
  @include column($one-third);
  @include push($one-third);
}
