// Overriding layouts file
// Used for bits of responsive layout CSS shared between components
// We do this here so the order of declarations between those components doesn't affect things

// constrain site

.container {
	max-width: $content-max-width;
	margin: 0 auto;
	@include clearfix();

  padding: 0 10px;
  @media (min-width: $show-sharebox) {
    padding: 0 20px;
  }
  @media (min-width: $set-sharebox-size-1) {
    padding: 0 40px;
  }
}

// vertical spacing scale for sections

section {
  position: relative; // significant importance on graphic page alignments
  padding: emsize(60px) 0;
  &.who {
    padding: emsize(120px) 0;
    overflow:hidden;
  }

  .eyecanvas {
    top: emsize(-60px);
  }

  @media (min-height: $vertical-section-spacing-step-1) {
    padding: emsize(70px) 0;
    &.who {
      padding: emsize(140px) 0;
      padding-bottom: emsize(120px);
    }

    .eyecanvas {
      top: emsize(-70px);
    }
  }
  @media (min-height: $vertical-section-spacing-step-2) {
    padding: emsize(80px) 0;
    &.who {
      padding: emsize(180px) 0;
      padding-bottom: emsize(120px);
    }

    .eyecanvas {
      top: emsize(-80px);
    }
  }
  @media (min-height: $vertical-section-spacing-step-3) {
    padding: emsize(90px) 0;
  }


  @media (max-width: $vertical-section-spacing-step-x) {
    padding: emsize(40px) 0;
    &.who {
      padding: emsize(60px) 0;
      overflow:hidden;
    }

    .eyecanvas {
      top: emsize(-40px);
    }
  }
}

// single column areas

.menu, .stats, .support, .extra, .reading {
	.col {
		@include column($one);
	}
}

// set things with map divs under them

.stats, .support, .how {
  .col {
    z-index: 1;
    position: relative;
  }
}

// FOOTER

.footer {
	text-align: right;
	.col {
		@include column($one);
	}
}

.takeover-col {
  @include column($one-third);
  @include push($one-third);
}
