section.how.search {
  padding-bottom: 0;
}
section.how.results {
  padding-top: 0;
}

.how, .extra {
  color: $color-member-card-text;
  background: $dimBreakoutBg;
  text-align: center;

  h2, h3 {
    text-transform: uppercase;
    color: $primaryOrange;
  }
  h2 {
    @include emfz(14px);
    margin-top: emsize(15px);
  }
  h3 {
    @include emfz(24px);
  }

  .location-error {
    display: none;
  }
}

.postcode-steps, .extra-steps {
  overflow: hidden;

  p {
    margin: 1em 10%;
    text-align: center;
  }

  h4 {
    font-family: 'League Gothic', sans-serif;
    font-weight: normal;
    @include emfz(32px);
  }

  .actions .fa {
    position: relative;
    font-size: 2.5em;
    color: $primaryOrange;
  }

  .input-group {
    margin-top: 3.5em;
  }
}

.legislators {
  display: none;
  margin: emsize(30px) 0;
}

.legislator {
  padding: 0 0 1em 0;
  position: relative;
  @include transform-origin(top center);
  background: $color-member-card-body;
  border-radius: $member-card-corners;

  h3, h4, p, li {
    color: $color-member-card-text;
  }
  h3, h4 {
    font-weight: normal;
    text-transform: none;
  }
  h3 {
    @include emfz(24px);
    margin-bottom: 0;
  }
  h4 {
    @include emfz(12px);
    font-style: italic;
    margin: 0;
    color: black;
  }
  p {
    @include emfz(14px);
    margin: 1em;
  }

  .pic {
    height: emsize(80px);
    padding: 1em 1em 0 1em;
    overflow: visible;
    margin-bottom: emsize(45px);
    border-top-left-radius: $member-card-corners;
    border-top-right-radius: $member-card-corners;
    background: $color-member-card-header;

    img {
      border-radius: $member-card-corners;
      max-width: 100%;
    }
  }

  .details {
    padding: 0 1em;
  }

  .contact {
    list-style: none;
    padding: 0;
    margin: 2em auto;
    display: inline-block;

    li {
      cursor: pointer;
      width: 4.5em;
      float: left;
    }
    a {
      color: #5f5a66;
    }
    .wrap {
      border: 1px solid $member-card-button-borders;
      border-right: 0;
      padding: 1em 0;
    }
    li:last-child .wrap {
      border-right: 1px solid $member-card-button-borders;
    }

    .fa {
      font-size: 1.2em;
      &:before {
        width: auto;
      }
    }
    .number-spinner {
      display: block;
      @include emfz(18px);
      font-weight: bold;
      color: $member-card-button-counters;
    }
  }
}

.retry-legislators {
  clear: left;
}
