section.how.search {
  padding-bottom: 0;
}
section.how.results {
  padding-top: 0;
}

.how, .extra {
  color: $color-member-card-text;
  background: $dimBreakoutBg;
  text-align: center;

  h2, h3 {
    text-transform: uppercase;
    color: $primaryOrange;
  }
  h2 {
    @include emfz(14px);
    margin-top: emsize(15px);
    margin-bottom: 0.1em;
  }
  h3 {
    @include emfz(24px);
  }
}

.postcode-steps, .extra-steps {
  overflow: hidden;

  p {
    margin: 1em 10%;
    text-align: center;
  }

  h4 {
    font-family: 'League Gothic', sans-serif;
    font-weight: normal;
    @include emfz(32px);
  }

  .actions .fa {
    position: relative;
    font-size: 2.5em;
    color: $primaryOrange;
  }
}

.legislators {
  @include row();
  display: none;
  margin: emsize(30px) 0;
}

.legislator {
  padding: 0 0 1em 0;
  position: relative;
  @include transform-origin(top center);
  background: $color-member-card-body;
  border-radius: $member-card-corners;

  h3, h4, p, li {
    color: $color-member-card-text;
  }
  h3, h4 {
    font-weight: normal;
    text-transform: none;
  }
  h3 {
    @include emfz(24px);
    margin-bottom: 0;
  }
  h4 {
    @include emfz(12px);
    font-style: italic;
    margin: 0;
    color: black;
  }
  p {
    @include emfz(14px);
    margin: 1em;
  }

  .pic {
    height: emsize(80px);
    padding: 1em 1em 0 1em;
    overflow: visible;
    margin-bottom: emsize(45px);
    border-top-left-radius: $member-card-corners;
    border-top-right-radius: $member-card-corners;
    background: $color-member-card-header;

    img {
      border-radius: $member-card-corners;
      max-width: 100%;
    }
  }

  .details {
    padding: 0 1em;
  }

  .contact {
    list-style: none;
    padding: 0;
    margin: 2em auto;
    display: inline-block;

    li {
      width: 4.5em;
      float: left;

      &:first-child {
        border-top-left-radius: 0.4em;
        border-bottom-left-radius: 0.4em;
      }
      &:last-child {
        border-top-right-radius: 0.4em;
        border-bottom-right-radius: 0.4em;
      }

      position: relative;
      border: 1px solid $member-card-button-borders;
      border-right: 0;
      &:last-child {
        border-right: 1px solid $member-card-button-borders;
      }
    }

    a {
      color: #5f5a66;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 1em 0;
    }
    .wrap {
      height: 2.1em;
      position: relative;
      padding: 1em 0;
    }

    .fa {
      display: block;
      font-size: 1em;
      text-align: center;
      &, &:before {
        width: auto;
      }
    }
    .number-spinner {
      display: block;
      @include emfz(18px);
      font-weight: bold;
      color: $member-card-button-counters;
    }

    li {
      &:hover {
        margin: -4px -4px -2px -2px;
        top: 2px;
        z-index: 1;

        .wrap {
          left: -1px;
          top: -1px;
        }
      }
      &.email-action:hover { border: 4px solid $statOrange; }
      &.call-action:hover { border: 4px solid $statGreenD; }
      &.facebooks-action:hover { border: 4px solid $statBlue; }
      &.tweets-action:hover { border: 4px solid $statGreenL; }
    }
  }
}

.retry-legislators {
  display: none;
  h4 {
    color: $textMid;
    text-transform: uppercase;
    margin-top: 2em;
  }
}

.location-error {
  display: none;
  font-style: italic;
}
.location-error, .location-search {
  @include emfz(14px);
}

.location-privacy {
  font-size: emsize(13px);
  font-style: italic;
}


.legislator-search-states {
  font-size: emsize(14px);
  font-style: italic;
  position: relative;
  top: -3em;

  .state {
    height: 0;
    overflow: hidden;
  }
}


.how.results {
  h3 {
    text-transform: uppercase;
    margin-top: 1em;
  }
  ul {
    text-align: left;
    padding: 1em;
    margin: 0 auto;
    max-width: 550px;
  }
}



@media (min-width: $set-larger-content-margin) {
  .how {
    .col {
      @include column($one-twelfth * 10);
      @include push($one-twelfth);
      margin-bottom: emsize(30px);
    }
  }
}

.location-privacy {
  p {
    @include column($one);
  }
}

.how {
  .input-group {
    padding: 0 1em;
  }

  .postcode-lookup {
    margin: 3.5em auto 0 auto;
    max-width: 20em;
  }

  input, button {
    float: left;
    display: block;
    line-height: 3em;
    height: 3em;
  }
  input {
    padding: 0 3% 0 3%;
    width: 54%;
    height: 40px;
    margin-right: -1%;
    @include border-right-radius(0);
  }
  button {
    padding: 0;
    width: 40%;
    height: 42px; // :SHONK:
    @include border-left-radius(0);
    border: 1px solid $statGreenL;
  }
}

@media (min-width: $set-steps-2-cols) {
  .location-error {
    position: absolute;
    width: 100%;
    top: 0; left: 0;
    p {
      margin-top: 6.5em;
    }
  }
}

@media (max-width: ($set-steps-2-cols - 1)) {
  .no-location .step-2 {
    background: transparent;
    min-height: 0;
  }
}

.how {
  .intro {
    font-size: emsize(14px);
    padding: 1em;
    margin: 0 auto 4em auto;
    max-width: 650px;
  }

  // these ones are positioned against columns and so their left offsets are percentages
  .eyemarks {
    opacity: 1;
    .r11 { left: 9%; top: emsize(116px); }
    .r12 { left: 16%; top: emsize(37px); }
    .r13 { left: 20%; top: emsize(200px); }
    .r14 { left: 28%; top: emsize(80px); }
    .r31 { left: 72%; top: emsize(120px); }
    .r32 { left: 79%; top: emsize(47px); }
    .r33 { left: 89%; top: emsize(75px); }

    img {
      &.sm { width: emsize(35px); }
      &.lg { width: emsize(56px); }
    }
  }
}

.legislator {
  max-width: 350px;
  margin: 0 auto 1em auto;

  @media (min-width: $set-legislator-results-2col) {
    max-width: none;
    @include column($one-half);
    &.l3 {
      @include push($one-quarter);
    }
  }

  @media (min-width: $set-legislator-results-3col) {
    &, &.l3 {
      @include column($one-third);
    }
  }
}
