.campaign-map {
  overflow: visible;
  width: 100%;
  height: 100%;
}
.leaflet-container {
  position: relative;
  background: transparent;
}

// map controls

.leaflet-container.inactive {
  cursor: default;

  .leaflet-control-container {
    display: none;
  }

  .map-blocker {
    display: block;
    cursor: default;
  }
}
