.menu {
  background: #373943;
  text-transform: uppercase;
  font-weight: bold;
  @include emfz(14px);

  -webkit-box-shadow:    0px 2px 8px 0px rgba(0,0,0,0.40);
  -moz-box-shadow:    0px 2px 8px 0px rgba(0,0,0,0.40);
  box-shadow:         0px 2px 8px 0px rgba(0,0,0,0.40);

  padding: emsize(20px) 0;

  position: relative;
  z-index: 1;

  .menuimg {
    @include column($one-sixth);
    display: none;

    img {
      max-width: 100%;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    @include column($one);
    text-align: center;
  }
  li {
    @include column($one);
    padding-top: 0.5em;
    white-space: nowrap;
  }

  a {
    color: $bodyText;

    &:hover {
      color: $linkColor;
      text-decoration: none;
    }
  }

  @media (min-width: $set-menu-show-small-logo) {
    .menuimg {
      display: inline;
    }
    ul {
      @include column($one-sixth * 5);
    }
  }

  @media (min-width: $set-menu-2-rows) {
    li {
      @include column($one-half);
    }
  }

  @media (min-width: $set-menu-1-row) {
    li {
      @include column($one-quarter);
      padding-top: emsize(25px, 14px);
    }
  }
}
