.menu {
  background: #373943;
  -webkit-box-shadow:    0px 2px 8px 0px rgba(0,0,0,0.40);
  -moz-box-shadow:    0px 2px 8px 0px rgba(0,0,0,0.40);
  box-shadow:         0px 2px 8px 0px rgba(0,0,0,0.40);

  padding: emsize(20px) 0;
}
