.extra {
  background: $dimBreakoutBg;
  color: $textMid;
  padding-top: 80px;
}

.sharing-buttons {
  max-width: emsize(250px);
  margin: 0 auto;

  .tot {
    display: block;
    font-size: 3em;
    margin-top: -1.15em;
    opacity: 0.1;
    position: relative;
    top: 0.4em;
    z-index: 0;
    color: black;
  }

  .text {
    position: relative;
    z-index: 1;
  }
}

.sharing-buttons .share {
    display: block;
    position: relative;
    text-align: center;
    text-decoration: none;
    border-radius: 3px 3px 3px 3px;
    padding: 1em;
    color:#fff;
    font-weight: bold;
    font-size: emsize(15px);

    a {
      display: block;
      position: absolute;
      top: 0; height: 100%;
      left: 0; width: 100%;
      z-index: 1;
    }
}

.sharing-buttons .share:hover {
    left:0px;
}

.sharing-buttons span.light {font-weight: normal;}

.sharing-buttons .share.abpt {
    background: #59adeb;
    &:hover {
      background: darken(#59adeb, 10%);
    }
}

.sharing-buttons .share.abptum {
    background: rgb(50,80,110);

    &:hover {
      background: darken(rgb(50,80,110), 10%);
    }
}

.sharing-buttons .share.abpf {
    background: #3c5a96;
    .tot {
      color: white;
    }

    &:hover {
      background: darken(#3c5a96, 10%);
    }
}

.sharing-buttons .share.abpf img {margin-top:-3px;}

.sharing-buttons .share.abpg {
    background: #db585a;

    &:hover {
      background: darken(#db585a, 10%);
    }
}





.sharbx {
  padding: 0;
  position: absolute;
  top: 0; right: 1em;
  z-index: 10;
  font-size: 0.5em;

  i {
    width: 2.5em;
    display: inline-block;
  }

  span.share {
    border-radius: 0;
    &:first-child {
      border-bottom-left-radius: 3px;
    }
    &:last-child {
      border-bottom-right-radius: 3px;
    }
  }

  .number-spinner {
    display: none;
    font-size: 12px;
    margin: 0;
    position: relative;
    top: -0.4em;
    left: -1em;
    height: 1em;
    opacity: 1;
    color: white;
  }

  .share {
    text-align: left;
    white-space: nowrap;
    left: 0;
    overflow: visible;

    float: left;
    width: 33%;
    padding: 0;

    @include transition(left 0.3s ease-out);
  }

  i {
    display: block;
    font-size: 1.5em;
    line-height: 2.6;
    margin-bottom: -1.1em;
    position: relative;
    text-align: center;
    top: -0.15em;
    width: 100%;
  }

  .text {
    display: block;
    visibility: hidden;
  }

  .number-spinner, .text {
    text-align: right;
  }

  span.share:hover {

  }
}

@media (min-width: $show-sharebox) {
  .sharbx {
    position: fixed;
    right: -9em;
    top: 5%;
    text-align: left;
    font-size: 0.5em;

    i {
      text-align: left;
      line-height: 0;
      top: 0.4em;
      width: 7.7em;
    }

    span.share {
      float: none;
      width: 11.7em;
      padding: 1em;
      &:first-child {
        border-radius: 0;
        border-top-left-radius: 3px;
      }
      &:last-child {
        border-radius: 0;
        border-bottom-left-radius: 3px;
      }
    }

    span.share:hover {
      left: -9.6em;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    .number-spinner {
      display: block;
    }
  }
}

@media (min-width: $set-sharebox-size-1) {
  .sharbx {
    font-size: 0.7em;

    .number-spinner {
      font-size: 16px;
      top: 0.3em;
      left: 0;
    }

    span.share:hover .text {
      visibility: visible;
    }
  }
}

@media (min-width: $set-sharebox-size-2) {
  .sharbx {
    font-size: 1em;
    .number-spinner {
      font-size: 22px;
    }
  }
}

@media (min-width: $set-sharebox-size-3) {
  .sharbx {
    right: 0;
    .text {
      visibility: visible;
    }
    span.share:hover {
      left: 0;
      border-radius: 0;
      &:first-child {
        border-top-left-radius: 3px;
      }
      &:last-child {
        border-bottom-left-radius: 3px;
      }
    }
  }
}
