.extra {
  background: $brand5;
  color: $brand1;
}
.extra .intro {
  margin-bottom: 20px;
  text-align: justify;
}


.sharing-buttons .share {
    display: block;
    background: #000;
    text-align: center;
    text-decoration: none;
    border-radius: 3px 3px 3px 3px;
    padding: 1em;
    color:#fff;
    font-weight: bold;
    font-size: 15px;
}

.sharing-buttons .share:hover {
    left:0px;
}

.sharing-buttons span.light {font-weight: normal;}

.sharing-buttons .share.twitter {
    background: #59adeb;
    &:hover {
      background: darken(#59adeb, 10%);
    }
}

.sharing-buttons .share.tumblr {
    background: rgb(50,80,110);

    &:hover {
      background: darken(rgb(50,80,110), 10%);
    }
}

.sharing-buttons .share.facebook {
    background: #3c5a96;

    &:hover {
      background: darken(#3c5a96, 10%);
    }
}

    .sharing-buttons .share.facebook img {margin-top:-3px;}

.sharing-buttons .share.googleplus {
    background: #db585a;

    &:hover {
      background: darken(#db585a, 10%);
    }
}
