.extra {
  background: $dimBreakoutBg;
  color: $textMid;
  padding-top: 80px;
}

.sharing-buttons {
  max-width: emsize(250px);
  margin: 0 auto;
}

.sharing-buttons .share {
    display: block;
    position: relative;
    text-align: center;
    text-decoration: none;
    border-radius: 3px 3px 3px 3px;
    padding: 1em;
    color:#fff;
    font-weight: bold;
    font-size: emsize(15px);

    a {
      display: block;
      position: absolute;
      top: 0; height: 100%;
      left: 0; width: 100%;
      z-index: 1;
    }
}

.sharing-buttons .share:hover {
    left:0px;
}

.sharing-buttons span.light {font-weight: normal;}

.sharing-buttons .share.abpt {
    background: #59adeb;
    &:hover {
      background: darken(#59adeb, 10%);
    }
}

.sharing-buttons .share.abptum {
    background: rgb(50,80,110);

    &:hover {
      background: darken(rgb(50,80,110), 10%);
    }
}

.sharing-buttons .share.abpf {
    background: #3c5a96;

    &:hover {
      background: darken(#3c5a96, 10%);
    }
}

.sharing-buttons .share.abpf img {margin-top:-3px;}

.sharing-buttons .share.abpg {
    background: #db585a;

    &:hover {
      background: darken(#db585a, 10%);
    }
}
