.tooltipster-eyes {
  border-radius: 5px;
  border: 2px solid #2a1d3d;
  background: #1b1029;
  color: #fff;
}

.tooltipster-eyes .tooltipster-content {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding: 16px;
  text-align: center;
}
