.support {
  h2 {
    text-transform: none;
    font-family: 'League Gothic', sans-serif;
    @include emfz(72px);
    margin: 0.5em 0;
    color: $textNormal;
    &, strong {
      font-weight: normal;
    }
    strong {
      color: white;
    }
  }

  .intro {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;

    em {
      color: $statGreenL;
    }
  }

  .fa-abpt {
    margin-top: 20px;
    display: block;
    font-size: 10em;
    margin-top: -0.3em;
    opacity: 0.1;

    line-height: 0.7em;
    color: white;

    position: absolute;
    left: 50%;
    margin-left: -110px;
  }
}


// $tweet-index: 0;
// $overlay-index: 1;
$tweet-bg-index: 1;
$tweet-text-index: 2;
$above-tweets-index: 3;

.tweet:before {
  content: ' ';
  display: block;
  position: absolute;
  z-index: $tweet-bg-index;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  pointer-events: none;
}

.tweet:before {
  background: rgba(48, 35, 68, 0.85);
}

.tweet:hover {
  z-index: $tweet-bg-index;

  &:before {
    background: rgba(48, 35, 68, 0.6);
  }
}

.tweet a:hover {
  text-decoration: none;
}

.tweet.bigger .tweet-text,
.tweet.biggest .tweet-text {
  font-size: 16px;
}

.tweet-text {
  font-size: 11px;
  color: #fff;
}
.tweet-text, .tweet-handle, .tweet-name {
  position: relative;
  z-index: $tweet-text-index;
}
.tweet-handle, .tweet-name {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
}
.tweet-handle {
  color: #45caa0;
}
.tweet-name {
  color: #fff;
  margin-top: 5em;
}

.tweet {
  width: 100px;
  height: 100px;
  display: block;
  float: left;
  padding: 5px;
  position:absolute;
  // z-index: $tweet-index;
  overflow: hidden;

  a {
    display: block;
    position: absolute;
    top: 0; left: 0;
    right: 0; bottom: 0;
  }

  .tweet-handle, .tweet-name, .tweet-text {
    margin: 0 20px;
  }
  .tweet-text {
    margin: 20px;
    display: none;
  }

  @media (min-width: $set-tweet-board-size-1) {
    width: 150px;
    height: 150px;
    padding: 10px;

    .tweet-handle, .tweet-name {
      font-size: 12px;
    }
    .tweet-name {
      margin-top: 9em;
    }
  }
  @media (min-width: $set-tweet-board-size-2) {
    width: 200px;
    height: 200px;
    padding: 20px;

    .tweet-text {
      display: block;
    }

    .tweet-name {
      margin-top: 0;
    }
  }
}
.twitter-support {
	text-align: center;

  .number-spinner {
    position: relative;
    top: 0.17em;
  }
}
.tweet.bigger {
	width: 400px;
	height: 400px;
}

.tweet.bigger {
	width: 400px;
	height: 400px;
}
.tweet img {
	width: 100%;
	height: 100%;
	position:absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

#tweet-board {
  position: relative;
  margin: 0 auto;
  padding: 0;
  @include clearfix();
  max-width: $content-max-width + 400;  // :NOTE: allow one block of tweets to protrude outwards
}
// following section has to go above the tweet board
.immediately-after-tweetboard {
  z-index: $above-tweets-index;

  // hide the last row of tweets, so we don't have to worry about danglers. makes accurate paging impossible but it's not like that's important here.
  margin-top: -100px;
  @media (min-width: $set-tweet-board-size-1) {
    margin-top: -170px;
  }
  @media (min-width: $set-tweet-board-size-2) {
    margin-top: -240px;
  }
}


.twitter-support {
  font-size: 0.4em;
  @media (min-width: $set-tweet-fontstep-1) {
    font-size: 0.6em;
  }
  @media (min-width: $set-tweet-fontstep-2) {
    font-size: 0.8;
  }
  @media (min-width: $set-tweet-fontstep-3) {
    font-size: 1em;
  }
}
