$BASE_FONT_SIZE : 16;
$BASE_LINE_HEIGHT : 1.2;

/* pallete */

$primaryOrange: #f1592a;

$statGreenL: #45CBA1;
$statGreenD: #36C48F;
$statRed: #EE574A;
$statOrange: #E58231;
$statBlue: #4FB9E3;
$statWhite: #E1E1E1;

$menuStripBg: #373943;

$bodyText:		#fff;

$primaryBg:     #322446;  // old browsers
$primaryBgLeft:   #322446;  // gradient pallete
$primaryBgRight:  #231735;
$secondaryBg:   #322546;
$breakoutBg:    #fff;
$dimBreakoutBg:	#E7E7E7;
$tabChrome:			#F0F0F0;

$textMid: #5F5A66;
$textNormal: #C7C7C7;
$textLight: #fff;

$linkColor: #45CBA1;

// -------- apply pallete --------

$color-body-bg: $secondaryBg;
$color-menu-bg: $secondaryBg;
$color-info-bg: $secondaryBg;
$color-breakout-block: $breakoutBg;
$color-cta-block: $secondaryBg;

$color-member-search-header: $tabChrome;
$color-member-search-body: $breakoutBg;

$color-member-card-header: $tabChrome;
$color-member-card-body: $breakoutBg;

$color-text: $textNormal;
$color-header-text: $textLight;
$color-member-card-text: $textMid;

$member-card-corners: 8px;
$member-card-button-borders: #E4E4E4;
$member-card-button-counters: #787878;

/* theming for bootstrap widgets */

$btn-primary-bg: $primaryOrange;
$btn-info-bg: $statGreenL;
$btn-default-bg: $dimBreakoutBg;

$brand1:        $primaryOrange !default;
$brand2:        #D3CEAA !default;
$brand3:        #FBF7E4 !default;
$brand4:        #424242 !default;
$brand5:        $primaryOrange !default;

$input-border-focus: $statGreenL;

/* These variables are included after bootstrap's, so you can add overrides here */

$content-max-width: 1280px;

/* Gridsystem overrides */

$total-width: 100%;
$columns: 9;

$one: $columns;
$one-half: $columns / 2;
$one-third: $columns / 3;
$one-quarter: $columns / 4;
$one-sixth: $columns / 6;
$one-twelfth: $columns / 12;

$one-fifth: $columns / 5; // for menu

// responsive breakpoints

$set-header-map-adjacent: 769px;

$set-info-margin: 550px;
$set-info-2-cols: 769px;

$set-search-pad-postcode: 780px;

$set-larger-content-margin: 850px;
$set-steps-2-cols: 730px;
$set-legislator-smaller-thumbs: 481px;
$set-legislator-smallest-thumbs: 601px;

$set-legislator-results-2col: 600px;
$set-legislator-results-3col: 1000px;

$set-stats-map-adjacent: 801px;

$set-cta-fontstep-1: 380px;
$set-cta-fontstep-2: 550px;
$set-cta-fontstep-3: 660px;

$set-menu-show-small-logo: 420px;
$set-menu-1-row: 1080px;
$set-menu-2-rows: 640px;
$set-menu-3-rows: 420px;

$set-tweet-fontstep-1: 400px;
$set-tweet-fontstep-2: 600px;
$set-tweet-fontstep-3: 769px;

$show-sharebox: 430px;
$set-sharebox-size-1: 769px;
$set-sharebox-size-2: 1025px;
$set-sharebox-size-3: 1865px;

$set-tweet-board-size-1: 620px;
$set-tweet-board-size-2: 820px;   // :IMPORTANT: must match JS var in tweets.js


$vertical-section-spacing-step-1: 481px;
$vertical-section-spacing-step-2: 801px;
$vertical-section-spacing-step-3: 1100px;
$vertical-section-spacing-step-x: 480px;
