section.video {
  background: #000;
  background-image: url(../img/video-posterimg.jpg);
  background-size: cover;
  text-align: center;

  .fa-play {
    color: $statGreenL;
    text-shadow: 0 0 1px $statGreenL;
    font-size: emsize(90px);
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 45%;

    &:before {
      position: relative;
      left: -50%;
      top: -50%;
      display: block;
      text-align: center;
    }
  }

  .col {
    margin: emsize(60px) auto;
    max-width: 800px;
  }
}

.video-container {
  background: black;
  border-radius: 5px;
  vertical-align: center;

  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  border: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container:hover {
  background: darken($brand4, 10%);
  cursor: pointer;
}
