section.video {
  background: #000;
}

.video-container {
  height: 160px;
  padding: 80px;
  text-align: center;
  max-width: 760px;
  background: $brand4;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  text-transform: uppercase;
  vertical-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-top: 30px;
  i {
    font-size: 90px;
  }

  position: relative;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container:hover {
  background: darken($brand4, 10%);
  cursor: pointer;
}
