.logo i{
  font-size: 90px;
  margin: 0;
  padding: 0;
}
.header {
  background: $brand3;
  color: $brand4;
}
.header h3 {
  line-height: 56px;
  margin: 0;
  padding: 0;
}
.nav ul {
  height: 56px;
  margin: 0;
  padding: 0;
}
.nav li {
  line-height: 56px;
  margin: 0;
  padding: 0;
  float: left;
}
.nav li a {
  padding: 0 20px;
}
.header a {
  color: $brand4;
}

.who {
  @include hero-gradient-bg();
  color: $color-header-text;

  h1, h2 {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  h1 {
    color: $primaryOrange;
    font-family: 'League Gothic', sans-serif;
    @include emfz(100px);
    line-height: 1;
    margin-bottom: emsize(20px, 100px);
  }
  h2 {
    font-weight: bold;
    margin-bottom: emsize(20px, 24px);
    letter-spacing: emsize(-1px, 24px);
  }
}
