.container {
	max-width: $content-max-width;
	@include clearfix();
}

// intro column is a bit wider
.introduction {
	.col {
		@include column(10);
		@include push(1);
	}
}

// other content is 8/12 with 2/12 gutters
.stats, .how, .support, .extra, .reading {
	.col {
		@include column(8);
		@include push(2);
	}
}

// 6 columns of stats
.stats {
	.metrics {
		@include row();
	}
	.metric {
		@include column(2);
	}
}

// 2 columns for location lookup & 8-column postcode inputs
.how {
	.postcode-steps, .location-privacy, .postcode-lookup {
		@include row();
	}
	.step {
		@include column(6);
	}
	.location-privacy {
		margin-top: 1em;
		font-size: 14px;
		p {
			@include column(12);
		}
	}
	.input-group {
		@include column(8);
		@include push(2);
		margin-top: 2.5em;

		.form-control, .input-group-btn {
			display: block;
			float: left;
		}
		.form-control {
			width: 60%;
		}
		.input-group-btn {
			width: 40%;
		}
	}
}

// 2 columns for what else section, 2 columns for sharing
.extra {
	.steps, .sharing-buttons {
		@include row();
	}
	.step {
		@include column(6);
	}
	.share {
		@include column(6);
	}
}
