// CONTENT
// outer margins, decreased at small res

.container {
	max-width: $content-max-width;
	@include clearfix();
}

.introduction, .stats, .how, .support, .extra, .reading {
	.col {
		@include column(12);
	}
}

@media (min-width: $set-larger-content-margin) {
	// intro column is a bit wider
	.introduction {
		.col {
			@include column(10);
			@include push(1);
		}
	}

	// other content is 8/12 with 2/12 gutters
	.stats, .how, .support, .extra, .reading {
		.col {
			@include column(8);
			@include push(2);
		}
	}
}

// STATS
// 2 > 3 > 6 cols

.stats {
	padding-bottom: 0;

	.metrics {
		@include row();
	}
	.metric {
		@include column(6);
		padding-bottom: 40px;
	}

	@media (min-width: $set-stats-3-cols) {
		.metric {
			@include column(4);
		}
	}

	@media (min-width: $set-stats-6-cols) {
		.metric {
			@include column(2);
		}
	}
}

// LEGISLATOR SEARCH
// 2 columns for location lookup boxes

.how {
	.step {
		h4 {
			padding: 0.5em 1em;
		}
	}
	.postcode-steps, .location-privacy, .postcode-lookup {
		@include row();
	}
	.location-privacy {
		font-size: 14px;
		p {
			@include column(12);
		}
	}
	.input-group {
		@include column(8);
		@include push(2);
		margin-top: 2.5em;

		.form-control, .input-group-btn {
			display: block;
			float: left;
		}
		.form-control {
			width: 60%;
		}
		.input-group-btn {
			width: 40%;
		}
	}

	@media (min-width: $set-steps-2-cols) {
		.step-2 {	// swap rows on desktop
			float: right;
		}
		.step-1 {
			float: left;
		}
	}
}

.legislator {
	@include row();
	margin-top: 1em;

	.pic {
		@include column(4);
	}
	.details {
		@include column(8);
	}

	@media (min-width: $set-legislator-smaller-thumbs) {
		.pic {
			@include column(3);
		}
		.details {
			@include column(9);
		}
	}

	@media (min-width: $set-legislator-smallest-thumbs) {
		.pic {
			@include column(2);
		}
		.details {
			@include column(10);
		}
	}
}

// SHARE BUTTONS
// 2 columns for what else section, 2 columns for sharing

.extra {
	.sharing-buttons {
		@include row();
		padding: 20px 20px 0 20px;
	}
	.share {
		@include column(6);
	}
}

// MAP

section.map {
	padding: 0;
}

// FOOTER

.footer {
	text-align: right;
	.col {
		@include column(12);
	}
}

// STEPS BOXES
// 1 > 2 columns
.step {
	@include column(12);
	margin-bottom: 1em;
	padding-bottom: 1em;

	@media (min-width: $set-steps-2-cols) {
		@include column(6);
		margin-bottom: 1em;
	}
}
