// these sections need to be relatively positioned because they will have the map in them

section {
  &.who, &.stats, &.how {
    position: relative;
    .container {
      position: relative;
      z-index: 1;
      pointer-events: none;
      > * {
        pointer-events: auto;
      }
    }
  }
}

// map base

#campaign-map {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.leaflet-container {
  position: relative;
  background: transparent;
}

.map-blocker {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  cursor: pointer;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

// map controls

.leaflet-container.inactive {
	.leaflet-control-container {
		display: none;
	}

  .map-blocker {
    display: block;
  }
}
