$BASE_FONT_SIZE : 16;
$BASE_LINE_HEIGHT : 1.2;



/* pallete */

$primaryOrange: #ED5719;
$bodyText:		#fff;

$pageBg: 			#E7E7E7;
$primaryBg:			#141828;	// old browsers
$primaryBgLeft:		#141828;	// gradient pallete
$primaryBgRight:	#231C2E;
$secondaryBg:		#373943;
$breakoutBg:		#fff;
$tabChrome:			#F0F0F0;

$textMid: #5F5967;
$textSmall: #5F5A66;
$textLight: #fff;

// -------- apply pallete --------

$color-body-bg: $pageBg;
@mixin hero-gradient-bg() {
	background: $primaryBg;
	background-image: radial-gradient(ellipse farthest-corner at 100% 100%, $primaryBgRight 0%, $primaryBgLeft 95%);
}

$color-menu-bg: $secondaryBg;
$color-info-bg: $secondaryBg;
$color-breakout-block: $breakoutBg;
$color-cta-block: $secondaryBg;

$color-member-search-header: $tabChrome;
$color-member-search-body: $breakoutBg;

$color-member-card-header: $tabChrome;
$color-member-card-body: $breakoutBg;

$color-text: $textMid;
$color-header-text: $textLight;
$color-member-card-text: $textSmall;



/* theming for bootstrap widgets */

$brand1:        $primaryOrange !default;
$brand2:        #D3CEAA !default;
$brand3:        #FBF7E4 !default;
$brand4:        #424242 !default;
$brand5:        #f1592a !default;

/* These variables are included after bootstrap's, so you can add overrides here */

$content-max-width: 1280px;

/* Gridsystem overrides */

$total-width: 100%;
$columns: 12;

$one: $columns;
$one-half: $columns / 2;
$one-third: $columns / 3;
$one-quarter: $columns / 4;
$one-sixth: $columns / 6;
$one-twelfth: $columns / 12;

// responsive breakpoints

$set-header-map-adjacent: 550px;

$set-larger-content-margin: 760px;
$set-stats-3-cols: 370px;
$set-stats-6-cols: 600px;
$set-steps-2-cols: 530px;
$set-legislator-smaller-thumbs: 480px;
$set-legislator-smallest-thumbs: 600px;
