$BASE_FONT_SIZE : 18;
$BASE_LINE_HEIGHT : 1.5;

$brand1:        #E7E8D1 !default;
$brand2:        #D3CEAA !default;
$brand3:        #FBF7E4 !default;
$brand4:        #424242 !default;
$brand5:        #f1592a !default;

/* These variables are included after bootstrap's, so you can add overrides here */

$content-max-width: 1280px;

/* Gridsystem overrides */

$total-width: 100%;
$columns: 12;

$one: $columns;
$one-half: $columns / 2;
$one-third: $columns / 3;
$one-quarter: $columns / 4;
$one-sixth: $columns / 6;
$one-twelfth: $columns / 12;

// responsive breakpoints

$set-larger-content-margin: 760px;
$set-stats-3-cols: 370px;
$set-stats-6-cols: 600px;
$set-steps-2-cols: 530px;
$set-legislator-smaller-thumbs: 480px;
$set-legislator-smallest-thumbs: 600px;
