/* These variables are included after bootstrap's, so you can add overrides here */

$content-max-width: 1200px;

// responsive breakpoints

$set-larger-content-margin: 760px;
$set-stats-3-cols: 370px;
$set-stats-6-cols: 600px;
$set-steps-2-cols: 530px;
