<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

      {{ content }}
      </div>
    {% include stats.html %}

     
      </div>
      </div>  
    {% include footer.html %}
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
    

    var legislatorTemplate = $('#legislator-template').html();
    var legislators = {
      'H6V': { 
        name: 'John Brown',
        title: 'Senator',
        image: 'H6V'
      },
      'YE4': {
        name: 'Sarah Pale',
        title: 'Senator',
        image: 'YE4'
      },
      '2L6': {
        name: 'Steve Gates',
        title: 'Senator',
        image: '2L6'
      }
    };
    _.each(legislators, function (legislator) {
      console.log(legislator);
      $('.legislators').append(_.template(legislatorTemplate, legislator));

    })
    $('.metric').popover({
      trigger: 'hover',
      container: 'body',
      placement: 'top'
    });

    $('.support img').popover({
      trigger: 'hover',
      container: 'body',
      placement: 'top'
    });
    $('.contact li').popover({
      trigger: 'hover',
      container: 'body',
      placement: 'top'
    });
    $('body').on('click', '.contact .call-action', function (e) {
      var legislatorId = $(e.currentTarget).parents('.legislator').attr('data-legislator-id');
      var legislator = legislators[legislatorId];
      var callModalTemplate = $('#call-modal-template').html();
      $('#call-modal-container').html(_.template(callModalTemplate, legislator));
      $('#call-modal-container .modal').modal();
    });

    $('body').on('click', '.contact .email-action', function (e) {
      var legislatorId = $(e.currentTarget).parents('.legislator').attr('data-legislator-id');
      var legislator = legislators[legislatorId];
      var emailModalTemplate = $('#email-modal-template').html();
      $('#email-modal-container').html(_.template(emailModalTemplate, legislator));
      $('#email-modal-container .modal').modal();
      $('#email-modal').modal();
    });
    </script>
    </body>
</html>