<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

      {{ content }}
      </div>
    {% include stats.html %}

     
      </div>
      </div>  
    {% include footer.html %}
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>
    $('.metric').popover({
      trigger: 'hover',
      container: 'body',
      placement: 'top'
    });

    $('.support img').popover({
      trigger: 'hover',
      container: 'body',
      placement: 'top'
    });
    $('.contact li').popover({
      trigger: 'hover',
      container: 'body',
      placement: 'top'
    });
    $('body').on('click', '.contact li', function () {
      $('#myModal').modal();
    })
    </script>
    </body>
</html>