<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Organization">

  {% include head.html %}

    <body{% if page.title %} itemscope itemtype="http://schema.org/Article"{% endif %}>
    	{% if page.title %}
    		<meta itemprop="name" content="{{ page.title }}">
    		<meta itemprop="url" content="{{ page.url }}">
    	{% endif %}

    {% include header.html %}

      {{ content }}

    {% include stats.html %}

    {% include footer.html %}

    {% include foot.html %}
    </body>
</html>
